{% extends "base.html" %}

{% block scripts %}
	{{ parent() }}
	<script src="/assets/javascript/chartjs/chart.core.js"></script>
	<script src="/assets/javascript/chartjs/chart.bar.js"></script>
        <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script src="/assets/javascript/js-cookie.js"></script>
{% endblock %}

{% block title %}Manage your Server{% endblock %}

{% block content %}
<div class="col-md-9">
	{% if flash.info is defined %}
		{{ flash.info.0|raw }}
	{% endif %}
	<ul class="nav nav-tabs" id="config_tabs">
		<li class="active"><a href="#stats" data-toggle="tab">Statistics</a></li>
		<li><a href="#console" data-toggle="tab">Control Server</a></li>
		<li><a href="#remote" data-toggle="tab">Remote Requests</a></li>
	</ul><br />
	<div class="tab-content">
		<div class="tab-pane active" id="stats">
			<div class="row">
				<div class="col-md-6">
					<h3 class="nopad">Memory Usage</h3><hr />
					<div class="row centered">
						<canvas id="memoryChart" width="280" height="150" style="margin-left:20px;"></canvas>
						<p style="text-align:center;margin-top:-15px;" class="text-muted"><small>Time (2s Increments)</small></p>
						<p class="graph-yaxis hidden-xs hidden-sm text-muted" style="margin-top:-50px !important;"><small>Memory Usage (MB)</small></p>
						<p class="graph-yaxis hidden-lg hidden-md text-muted" style="margin-top:-65px !important;margin-left: 100px !important;"><small>Memory Usage (%)</small></p>
					</div>
				</div>
				<div class="col-md-6">
					<h3 class="nopad">CPU Usage</h3><hr />
					<div class="row centered">
						<canvas id="cpuChart" width="280" height="150" style="margin-left:20px;"></canvas>
						<p style="text-align:center;margin-top:-15px;" class="text-muted"><small>Time (2s Increments)</small></p>
						<p class="graph-yaxis hidden-sm hidden-xs text-muted" style="margin-top:-65px !important;"><small>CPU Usage (%)</small></p>
						<p class="graph-yaxis hidden-lg hidden-md text-muted" style="margin-top:-65px !important;margin-left: 100px !important;"><small>CPU Usage (%)</small></p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12" id="stats_players" style="display: none;">
					<h3 class="nopad">{{ l.render('node.overview.players_h5') }}</h3><hr />
					<div id="players_notice" class="alert alert-info"><i class="fa fa-spinner fa-spin"></i> {{ l.render('node.overview.collect_usage') }}</div>
					<span id="toggle_players" style="display:none;">
						<p class="text-muted">{{ l.render('node.overview.no_players') }}</p>
				</div>
				<div class="col-md-12">
					<h3>{{ l.render('node.overview.information_h1') }}</h3><hr />
					<table class="table table-striped table-bordered table-hover">
						<tbody>
							<tr>
								<td><strong>{{ l.render('string.connection') }}</strong></td>
								<td><code>{{ server.server_ip }}:{{ server.server_port }}</code></td>
							</tr>
							<tr>
								<td><strong>{{ l.render('string.node') }}</strong></td>
								<td>{{ node.name }}</td>
							</tr>
							<tr>
								<td><strong>{{ l.render('string.mem_alloc') }}</strong></td>
								<td>{{ server.max_ram }} MB</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div class="tab-pane" id="console">
			<div class="row">
				<div class="col-md-12">
					<textarea id="live_console" class="form-control console" readonly="readonly">{{ server.console_inner }}</textarea>
				</div>
				<div class="col-md-6">
					<hr />
					{% if permission.has('console.commands') %}
						<form action="#" method="post" id="console_command">
							<fieldset>
								<div class="input-group">
									<input type="text" class="form-control" name="command" id="ccmd" placeholder="{{ l.render('node.console.command_help') }}" />
									<span class="input-group-btn">
										<button id="sending_command" class="btn btn-primary btn-sm">&rarr;</button>
									</span>
								</div>
							</fieldset>
						</form>
						<div class="alert alert-danger" id="sc_resp" style="display:none;margin-top: 15px;"></div>
					{% endif %}
				</div>
				<div class="col-md-6" style="text-align:center;">
					<hr />
					{% if permission.has('console.power') %}
						<button class="btn btn-success btn-sm start" id="server_start">{{ l.render('string.start') }}</button>
						<button class="btn btn-primary btn-sm restart" id="server_restart">{{ l.render('string.restart') }}</button>
						<button class="btn btn-danger btn-sm stop" id="server_stop">{{ l.render('string.stop') }}</button>
                                                <button class="btn btn-danger btn-sm install" id="server_install">{{ l.render('string.install') }}</button>
						<button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#pauseConsole" id="pause_console"><small><i class="fa fa-pause"></i></small></button>
						<div style="margin-top:5px;" id="kill_process_text" style="display:none;"><small><p class="text-muted">My server isn't responding! Please <code id="kill_proc" style="cursor: pointer;">kill it</code>.</p></small></div>
						<div id="pw_resp" style="display:none;margin-top: 15px;"></div>
					{% endif %}
				</div>
			</div>
		</div>
		<div class="tab-pane" id="remote">
			<h3>Remote Connection Information</h3>
			<p>Remote connections allows you to optionally control your server from outside of the panel. Using this feature you can create custom scripts to start or stop your server at specified times, or even track server information on another site.</p>
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Connection Information</h3>
				</div>
				<div class="panel-body">
					<div class="alert alert-info">This is still a work in progress, and as such it is not neccessarily fully documented.</div>
					<table class="table table-hover" style="margin-bottom:0;">
						<tr>
							<td style="border-top:0;">Connection Base</td>
							<td style="border-top:0;">https://{{ node.fqdn }}:{{ node.daemon_listen }}/</td>
						</tr>
						<tr>
							<td>X-Access-Server</td>
							<td><code>{{ server.hash }}</code></td>
						</tr>
						<tr>
							<td>X-Access-Token</td>
							<td><code>{{ server.daemon_secret }}</code></td>
						</tr>
					</table>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Connection Endpoints</h3>
				</div>
				<div class="panel-body">
					<table class="table table-hover" style="margin-bottom:0;">
						<thead>
							<tr>
								<th>Action</th>
								<th>Method</th>
								<th>Endpoint</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>Basic Server Information</td>
								<td><code>GET</code></td>
								<td><code>/server</code></td>
								<td><a href="http://scales.pufferpanel.com/docs/server" target="_blank"><i class="fa fa-link"></i></a></td>
							</tr>
							<tr>
								<td>Get Last Lines of Console</td>
								<td><code>GET</code></td>
								<td><code>/server/log/:lines</code></td>
								<td><a href="http://scales.pufferpanel.com/docs/serverloglines" target="_blank"><i class="fa fa-link"></i></a></td>
							</tr>
							{% if permission.has('console.power') %}
								<tr>
									<td>Control Server Power</td>
									<td><code>GET</code></td>
									<td><code>/server/power/(start|stop|restart|kill)</code></td>
									<td><a href="http://scales.pufferpanel.com/docs/serverpowerstatus" target="_blank"><i class="fa fa-link"></i></a></td>
								</tr>
							{% endif %}
							{% if permission.has('console.commands') %}
								<tr>
									<td>Send Console Commands</td>
									<td><code>POST</code></td>
									<td><code>/server/console</code></td>
									<td><a href="#" target="_blank"><i class="fa fa-link"></i></a></td>
								</tr>
							{% endif %}
							{% if permission.has('files.view') %}
								<tr>
									<td>View Server Files</td>
									<td><code>GET</code></td>
									<td><code>/server/directory/:directory</code></td>
									<td><a href="http://scales.pufferpanel.com/docs/serverdirectorydirectory" target="_blank"><i class="fa fa-link"></i></a></td>
								</tr>
							{% endif %}
							{% if permission.has('files.edit') %}
								<tr>
									<td>Edit Server File</td>
									<td><code>GET</code></td>
									<td><code>/server/file/:file</code></td>
									<td><a href="http://scales.pufferpanel.com/docs/serverfilefile" target="_blank"><i class="fa fa-link"></i></a></td>
								</tr>
							{% endif %}
							{% if permission.has('files.save') %}
								<tr>
									<td>Save Server File</td>
									<td><code>PUT</code></td>
									<td><code>/server/file/:file</code></td>
									<td><a href="#" target="_blank"><i class="fa fa-link"></i></a></td>
								</tr>
							{% endif %}
							{% if permission.has('files.delete') %}
								<tr>
									<td>Delete Server File</td>
									<td><code>DELETE</code></td>
									<td><code>/server/file/:file</code></td>
									<td><a href="#" target="_blank"><i class="fa fa-link"></i></a></td>
								</tr>
							{% endif %}
							{% if permission.has('manage.ftp.password') %}
								<tr>
									<td>Change SFTP Password</td>
									<td><code>POST</code></td>
									<td><code>/server/reset-password</code></td>
									<td><a href="#" target="_blank"><i class="fa fa-link"></i></a></td>
								</tr>
							{% endif %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="pauseConsole" tabindex="-1" role="dialog" aria-labelledby="PauseConsole" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="PauseConsole">{{ l.render('node.console.scrollstop_h1')|raw }}</h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-md-12">
						<textarea id="paused_console" class="form-control console" readonly="readonly"></textarea>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button id="scrollbot" type="button" class="btn btn-primary">Scroll To Bottom</button>
				<button type="button" class="btn btn-default" data-dismiss="modal">{{ l.render('string.close') }}</button>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
	$(window).load(function(){
		$("#sidebar_links").find("a[href='/node/index']").addClass('active');
                socket = new WebSocket("wss://{{ node.fqdn }}:{{ node.daemon_listen }}/server/{{ server.hash }}/console?accessToken=" + Cookies.get('accessToken'));
		socket.onmessage = function (event) {
                    data = event.data;
                    console.log(data);
                    var total = (($("#live_console").val() ? $("#live_console").val() : "") + data).split("\n");
			if (total.length > 750) {
				total = total.slice(total.length - 750);
			}
			$("#live_console").val(total.join("\n"));
			$('#live_console').scrollTop($('#live_console')[0].scrollHeight - $('#live_console').height());
		};
		$('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
			$('#live_console').scrollTop($('#live_console')[0].scrollHeight - $('#live_console').height());
		});
		$("#pause_console").click(function(){
			$("#paused_console").val();
			$("#paused_console").val($("#live_console").val());
		});
		$("#scrollbot").click(function(){
			$('#paused_console').scrollTop($('#paused_console')[0].scrollHeight);
		});
		var ctx = $("#memoryChart").get(0).getContext("2d");
		var cty = $("#cpuChart").get(0).getContext("2d");
		var memoryChartData = {
			labels: ["", "", "", "", "", "", "", "", "", "", "", "", "", "", "", "", "", "", "", ""],
			datasets: [{
				fillColor : "#ccc",
				strokeColor : "rgba(0,0,0,0)",
				highlightFill : "#666",
				data: [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
			}]
		};
		var cpuChartData = {
			labels: ["", "", "", "", "", "", "", "", "", "", "", "", "", "", "", "", "", "", "", ""],
			datasets: [{
				fillColor : "#ccc",
				strokeColor : "rgba(0,0,0,0)",
				highlightFill : "#666",
				data: [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
			}]
		};
		memoryChart = new Chart(ctx).Bar(memoryChartData, {
			animation: false,
			showScale: true,
			barShowStroke: false,
			scaleOverride: false,
			tooltipTemplate: {% verbatim %}"<%= value %> Mb"{% endverbatim %},
			barValueSpacing: 1,
			barStrokeWidth: 1,
			scaleShowGridLines: false
		});
		cpuChart = new Chart(cty).Bar(cpuChartData, {
			animation: false,
			showScale: true,
			barShowStroke: false,
			scaleOverride: false,
			tooltipTemplate: {% verbatim %}"<%= value %> %"{% endverbatim %},
			barValueSpacing: 1,
			barStrokeWidth: 1,
			scaleShowGridLines: false
		});

		function updatePlayerListVisibility(data) {
			// Server is On or Starting
			if(data == 1 || data == 3) {
				$("#stats_players").show();
			} else {
				$("#stats_players").hide();
			}
		}

		{% if permission.has('console.commands') %}
			$("#console_command").submit(function(event){
				event.preventDefault();
				var ccmd = $("#ccmd").val();
				if(ccmd != ""){
					$("#sending_command").html('<i class="fa fa-refresh fa-spin"></i>').addClass('disabled');
					$.ajax({
						type: "POST",
						headers: {
							"X-Access-Token": "{{ server.daemon_secret }}",
							"X-Access-Server": "{{ server.hash }}"
						},
						url: 'https://{{ node.fqdn }}:{{ node.daemon_listen }}/server/console',
						timeout: 5000,
						data: {
							command: ccmd
						}
					}).done(function(data) {
						$("#sending_command").removeClass('disabled');
						$("#sending_command").html('&rarr;');
						$("#ccmd").val('');
					}).fail(function(jqXHR, textStatus, errorThrown) {
						$("#sc_resp").html('Unable to process your request. Please try again.').fadeIn().delay(5000).fadeOut();
						$("#sending_command").removeClass('disabled');
						$("#sending_command").html('&rarr;');
						$("#ccmd").val('');
					});
				}
			});
		{% endif %}
		{% if permission.has('console.power') %}
			var can_run = true;
			function updateServerPowerControls(data) {
				if(data !== 0) {
					$("#kill_process_text").slideDown(200);
				} else {
					$("#kill_process_text").slideUp(200);
				}
			}
			$("#kill_proc").click(function(e){
				e.preventDefault();
				var killConfirm = confirm("WARNING: This operation will not save your server data gracefully. You should only use this if your server is failing to respond to stops.");
				if(killConfirm) {
					$.ajax({
						type: "GET",
						url: '/daemon/server/{{ server.hash }}/kill',
						timeout: 5000
					}).done(function(data) {
						$("#pw_resp").attr('class', 'alert alert-success').html("Server has been killed successfully.").fadeIn().delay(5000).fadeOut();
					}).fail(function(jqXHR, textStatus, errorThrown) {
						$("#pw_resp").attr('class', 'alert alert-danger').html('Unable to process your request. Please try again. ('+ errorThrown +')').fadeIn().delay(5000).fadeOut();
					});
				}
			});
			$("#server_stop").click(function(e){
				e.preventDefault();
				if(can_run) {
					can_run = false;
					$.ajax({
						type: "GET",
						url: '/daemon/server/{{ server.hash }}/stop',
						timeout: 5000
					}).done(function(data) {
						$("#pw_resp").attr('class', 'alert alert-success').html("Server has been stopped successfully.").fadeIn().delay(5000).fadeOut();
						can_run = true;
						return false;
					}).fail(function(jqXHR, textStatus, errorThrown) {
							$("#pw_resp").attr('class', 'alert alert-danger').html('Unable to process your request. Please try again. ('+ errorThrown +')').fadeIn().delay(5000).fadeOut();
							can_run = true;
					});
				}
			});
                        $("#server_install").click(function(e){
				e.preventDefault();
				if(can_run) {
					can_run = false;
					$.ajax({
						type: "POST",
						url: '/daemon/server/{{ server.hash }}/install',
						timeout: 5000
					}).done(function(data) {
						$("#pw_resp").attr('class', 'alert alert-success').html("Server has been told to install, please wait for it to process.").fadeIn().delay(5000).fadeOut();
						can_run = true;
						return false;
					}).fail(function(jqXHR, textStatus, errorThrown) {
							$("#pw_resp").attr('class', 'alert alert-danger').html('Unable to process your request. Please try again. ('+ errorThrown +')').fadeIn().delay(5000).fadeOut();
							can_run = true;
					});
				}
			});
			$("#server_restart").click(function(e){
				e.preventDefault();
				if(can_run) {
					can_run = false;
					$.ajax({
						type: "GET",
						url: '/daemon/server/{{ server.hash }}/stop',
						timeout: 5000
					}).done(function(data) {
                                            $.ajax({
						type: "GET",
						url: '/daemon/server/{{ server.hash }}/start',
						timeout: 5000
                                            }).done(function(data) {
                                                $("#pw_resp").attr('class', 'alert alert-success').html("Server is now restarting...").fadeIn().delay(5000).fadeOut();
                                                    can_run = true;
                                                    return false;
                                            }).fail(function(jqXHR, textStatus, errorThrown) {
							$("#pw_resp").attr('class', 'alert alert-danger').html('Unable to process your request. Please try again. ('+ errorThrown +')').fadeIn().delay(5000).fadeOut();
							can_run = true;
                                            });						
					}).fail(function(jqXHR, textStatus, errorThrown) {
							$("#pw_resp").attr('class', 'alert alert-danger').html('Unable to process your request. Please try again. ('+ errorThrown +')').fadeIn().delay(5000).fadeOut();
							can_run = true;
					});
				}
			});
			$("#server_start").click(function(e){
				e.preventDefault();
				start_server();
			});
			function start_server() {
				if(can_run === true){
					can_run = false;
					$.ajax({
						type: "GET",
						url: '/daemon/server/{{ server.hash }}/start',
						timeout: 5000
					}).done(function(data) {
						if(data == "ok"){
							$("#live_console").val("Server is starting...\n");
							$("#pw_resp").attr('class', 'alert alert-success').html("{{ l.render('node.console.ajax.server_started') }}").fadeIn().delay(5000).fadeOut();
							can_run = true;
						}else{
							$("#pw_resp").attr('class', 'alert alert-danger').html(data).fadeIn().delay(5000).fadeOut();
							can_run = true;
						}
					}).fail(function(jqXHR, textStatus, errorThrown) {
							$("#pw_resp").attr('class', 'alert alert-danger').html('{{ l.render('node.ajax.generic_error') }} ('+ errorThrown +')').fadeIn().delay(5000).fadeOut();
							can_run = true;
					});
				}
			}
		{% endif %}
	});
</script>
{% endblock %}
