{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block navbar %}{% endblock %}
{% block sidebar %}{% endblock %}

{% block content %}
<div class="col-md-6">
   	<form action="/auth/login" method="POST" id="login-form">
    	<legend>Login to PufferPanel</legend>
    	<fieldset>
        {% if flash|length %}
          <div class="alert alert-danger">{{ flash }}</div>
        {% endif %}
    		<div class="form-group">
    			<label for="email" class="control-label">Email</label>
    			<div>
    				<input type="text" class="form-control" name="email" id="email" placeholder="Email" />
    			</div>
    		</div>
    		<div class="form-group">
    			<label for="login-password" class="control-label">Password</label>
    			<div>
    				<input type="password" class="form-control" name="password" id="password" placeholder="Password" />
    			</div>
    		</div>
    		<div class="form-group">
    			<div>
    				<label><input type="checkbox" name="remember_me" /> Remember Me</label>
    			</div>
    		</div>
    		<div class="form-group">
    			<div>
            <input type="hidden" name="crumb" value="{{ crumb }}"/>
    				<input type="submit" class="btn btn-primary btn-sm" value="Login" />
    				<a class="btn btn-default btn-sm" href="/auth/password">Reset Password</a>
            <a class="btn btn-default btn-sm" href="/auth/register">Register</a>
    			</div>
    		</div>
    	</fieldset>
    </form>
</div>
<div class="modal fade" id="openTOTP" tabindex="-1" role="dialog">
	<div class="modal-dialog" style="width:400px;">
		<form action="/auth/login" method="POST" id="totp-form">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Two-Factor Authentication Checkpoint</h4>
				</div>
				<div class="modal-body" id="modal_insert_content">
					<div class="form-group">
						<label for="totp_token" class="control-label">Two-Factor Authentication Token</label>
						<div>
							<input class="form-control" type="text" placeholder="000111" name="totpToken" id="totpToken" />
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<input type="submit" class="btn btn-default btn-sm" value="Continue" />
				</div>
			</div>
		</form>
	</div>
</div>
<div class="col-md-3"></div>
<script type="text/javascript">
$(document).ready(function(){
	$("#login-form").submit(function(event){
		var check_email = $("#email").val();
		$.ajax({
			type: "POST",
			url: "/auth/login/totp",
			async: false,
			data: { check: check_email, crumb: '{{ crumb }}' },
			success: function(data){
				if(data == 'true'){
					$("#openTOTP").modal('show');
					$('#openTOTP').on('shown.bs.modal', function(){
						$("#totpToken").focus();
					})
          event.preventDefault();
				}else{
          $(this).submit();
				}
			}
		});
	});
	$("#totp-form").submit(function(){
		$('#login-form :input').not(':submit').clone().hide().appendTo('#totp-form');
		return true;
	});
});
</script>
{% endblock %}
