{% extends "base.html" %}

{% block title %}Register New Account{% endblock %}

{% block navbar %}{% endblock %}
{% block sidebar %}{% endblock %}

{% block content %}
<div class="col-md-6">
    <form action="/auth/register" method="POST" id="login-form">
        <legend>Create Account</legend>
        <fieldset>
            {% if flash.info is defined %}
            {{ flash.info.0|raw }}
            {% endif %}
            <div class="well well-sm">
                <p>Welcome! Please fill out the form below to create an account and begin accessing servers.</p>
            </div>
            <div class="form-group">
                <label for="login-password" class="control-label">Token</label>
                <div>
                    <input type="text" class="form-control" name="token" id="token" {% if token != false %}value="{{ token }}"{% endif %} />
                           <p><small class="text-muted"><em>Please enter the token that you recieved in the email.</em></small></p>
                </div>
            </div>
            <hr />
            <div class="form-group">
                <label for="username" class="control-label">Username</label>
                <div>
                    <input type="text" class="form-control" name="username" id="username" placeholder="Username" />
                    <p><small class="text-muted"><em>Must be between 4 and 35 characters long. (a-zA-Z0-9_-)</em></small></p>
                </div>
            </div>
            <div class="form-group">
                <label for="password" class="control-label">{{ l.render('string.password') }}</label>
                <div>
                    <input type="password" class="form-control" name="password" id="password" placeholder="{{ l.render('string.password') }}" />
                    <p><small class="text-muted"><em>Must be at least 8 characters long and contain one special character and mixed case.</em></small></p>
                </div>
            </div>
            <div class="form-group">
                <div>
                    {{ xsrf|raw }}
                    <input type="submit" class="btn btn-primary btn-sm" value="Create Account" />
                    <button class="btn btn-default btn-sm" onclick="window.location = 'login';return false;">Login</button>
                </div>
            </div>
        </fieldset>
    </form>
</div>
<div class="col-md-3"></div>
{% endblock %}