{% extends "base.html" %}

{% block title %}{{ __('pages.base.index') }}{% endblock %}

{% block content %}
<div class="col-md-9">
	{% if flash|length %}
		{{ flash }}
	{% endif %}
	{% if user.admin == 1 %}
		<div class="alert alert-info">
			{{ __('notice.viewingAsAdmin') }}
		</div>
	{% endif %}
	{{ settings('companyName') }}
	{% if servers %}
		<table class="table table-striped table-bordered table-hover">
			<thead>
				<tr>
					{% if user.admin == 1 %}<th></th>{% endif %}
					<th>{{ __('string.servername') }}</th>
					<th>{{ __('string.location') }}</th>
					<th>{{ __('string.node') }}</th>
					<th>{{ __('string.connection') }}</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				{% for server in servers %}
					<tr class="dynUpdate" id="{{ server.hash }}">
						{% if user.admin == 1 %}<td style="width:26px;">{% if server.left.owner == user.id %}<i class="fa fa-circle" style="color:#50af51;"></i>{% else %}<i class="fa fa-circle" style="color:#ddd;"></i>{% endif %}</td>{% endif %}
						<td><a href="/server/{{ server.left.id }}">{{ server.left.name }}</a></td>
						<td>{{ server.right.location }}</td>
						<td>{{ server.right.name }}</td>
						<td><code>{{ server.left.server_ip }}:{{ server.left.server_port }}</code></td>
						<td style="width:26px;"><i id="applyUpdate" class="fa fa-circle-o-notch fa-spinner fa-spin"></i></td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	{% else %}
		<div class="alert alert-info">
			{{ __('notice.noServers') }}
		</div>
	{% endif %}
</div>
<script type="text/javascript">
$(window).load(function() {
	// function updateServerStatus() {
	// 	$(".dynUpdate").each(function(index, data){
	// 		var element = $(this);
	// 		var connection = element.attr("id");
	// 		if(element.find("#applyUpdate").hasClass("spin-light")){var c = {"color": "#fff"};} else {var c = {"color": "#000"};}
	// 		element.find("#applyUpdate").removeClass("fa-circle").css(c);
	// 		element.find("#applyUpdate").addClass("fa-circle-o-notch fa-spinner fa-spin");
	// 		$.ajax({
	// 			type: "POST",
	// 			url: "/ajax/status",
	// 			data: { server: connection }
	// 		}).done(function(data) {
	// 			element.find("#applyUpdate").removeClass("fa-circle-o-notch fa-spinner fa-spin");
	// 			element.find("#applyUpdate").addClass("fa-circle").css({"color": data});
	// 		});
	// 	});
	// }
	// updateServerStatus();
	$("#sidebar_links").find("a[href='/servers']").addClass('active');
});
</script>
{% endblock %}
