{% if flash|length %}
<div class="alert alert-danger">{{ flash }}</div>
{% else %}
<div class="row" id="notice_box_totp" style="display:none;"></div>
<div class="row">
	<div class="col-md-6">
		<center><img src="{{ totp.image }}" /><br /><br /><code>{{ totp.secret }}</code></center>
	</div>
	<div class="col-md-6">
		<div class="alert alert-info">{{ __('notice.totpConfigure') }}</div>
		<form action="#" method="post" id="totp_token_verify">
			<div class="form-group">
				<label class="control-label" for="totp_token">{{ __('string.totptoken') }}</label>
				<input class="form-control" type="text" id="totp_token" style="" />
			</div>
			<input type="hidden" name="crumb" value="{{ crumb }}" />
		</form>
	</div>
</div>
{% endif %}
