{% extends "admin/base.html" %}

{% block title %}Index{% endblock %}

{% block content %}
<div class="col-md-9">
	<ul class="breadcrumb">
		<li class="active">Admin Control</li>
	</ul>
	<h3 class="nopad">PufferPanel Admin Control Panel</h3><hr />
	<p>Welcome to the most advanced, lightweight, and user-friendly open source game server control panel. You are currently running version <code>{{ version }}: {{ sha }}</code>.</p>
</div>
<script type="text/javascript">
$(document).ready(function(){
	$("#sidebar_links").find("a[href='/admin']").addClass('active');
});
</script>
{% endblock %}
