{% extends "base.html" %}

{% block title %}Manage Subusers{% endblock %}

{% block content %}
<div class="col-md-9">
	<div class="panel panel-default">
		<div class="panel-heading">Manage Subusers 	<span style="right:21px;top:6px;position:absolute;"><a href="/node/users/add"><button class="btn btn-xs btn-primary">Add Subuser</button></a></span></div>
		<div class="panel-body">
			<p>Adding a subuser allows you to provide additional people access to different aspects of the panel to control your server. You can fine-tune their access to different functions, as well as revoke permissions down the road without ever having to risk giving out your personal account informtion.<p>
			<p>To begin, click the button above and select which features you a user to be able to access. Then, enter their email when prompted and an email invite will be sent to them.<p>
		</div>
	</div>
	{% if flash.info is defined %}
		{{ flash.info.0|raw }}
	{% endif %}
	<div class="list-group">
	{% for user in users %}
		<a href="/node/users/edit/{{ user.email }}" class="list-group-item">
			<h4 class="list-group-item-heading">{{ user.email }} {% if user.username == null %}<span class="badge label-default">Pending</span>{% endif %}</h4>
			<p class="list-group-item-text"><strong>Permission Nodes:</strong>
				{{ user.user_permissions }}
			</p>
		</a>
	{% endfor %}
	</div>
</div>
<script type="text/javascript">
$(document).ready(function() {
	$("#sidebar_links").find("a[href='/node/users']").addClass('active');
});
</script>
{% endblock %}