RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule . router.php [L]
RewriteCond %{HTTP:Authorization} ^(.*)
RewriteRule .* - [e=HTTP_AUTHORIZATION:%1]
SetEnvIf Authorization .+ HTTP_AUTHORIZATION=$0
