<!DOCTYPE html>
<html>
<head>
    <link rel="icon" type="img/ico" href="/assets/img/favicon.ico">
    <title>{{ block "title" . }} {{ with .title }} {{ else }} PufferPanel {{ end }} {{ end }}</title>
    <link href='https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons'
          rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.min.css" rel="stylesheet">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,300italic,400italic' rel="stylesheet"
          type="text/css">
    <link rel="stylesheet" href="/assets/css/index.css">
</head>

<body>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.js"></script>
<script src="https://unpkg.com/vuex@3.0.1/dist/vuex.js"></script>
<script src="/assets/js/helper-offset.js"></script>
<script src="/assets/js/material-card.js"></script>

<div id="app">
    <v-app>
        {{ block "sidebar" . }}
        <v-navigation-drawer id="app-drawer" app dark floating persistent mobile-break-point="991"
                             width="260">
            <v-layout class="fill-height" tag="v-list" column>
                <v-list-tile avatar>
                    <v-list-tile-avatar></v-list-tile-avatar>
                    <v-list-tile-title class="title">PufferPanel</v-list-tile-title>
                </v-list-tile>
                <v-divider/>
                <v-list-tile v-for="(link, i) in links" :key="i" :to="link.to" avatar class="v-list-item" >
                    <v-list-tile-action>
                        <v-icon>${ link.icon }</v-icon>
                    </v-list-tile-action>
                    <v-list-tile-title v-text="link.text" />
                </v-list-tile>
            </v-layout>
        </v-navigation-drawer>
        {{ end }}

        <v-content>
            <div id="core-view">
                <v-fade-transition mode="out-in">
                    {{ block "body" . }}
                    {{ end }}
                </v-fade-transition>
            </div>
            {{ block "footer" . }}
                <v-footer id="core-footer" absolute height="82">
                    <div class="footer-items">
                        <span v-for="link in footerlinks" :key="link.name">
                            <a :href="link.Link" class="tertiary--text footer-links">${ link.name }</a>
                        </span>
                    </div>
                </v-footer>
            {{ end }}
        </v-content>
    </v-app>
</div>

<script>
    app = new Vue({
        delimiters: ['${', '}'],
        data: {
            footerlinks: [
                {name: 'Home', Link: '/'},
                {name: 'Docs', Link: 'https://www.pufferpanel.com/'}
            ],
            logo: "/assets/img/logo.png",
            links: [
                {
                    to: '/dashboard',
                    icon: 'mdi-view-dashboard',
                    text: 'Dashboard'
                },
                {
                    to: '/user-profile',
                    icon: 'mdi-account',
                    text: 'User Profile'
                },
                {
                    to: '/table-list',
                    icon: 'mdi-clipboard-outline',
                    text: 'Table List'
                }
            ],
            responsive: false
        }
    });
</script>

{{ block "scripts" .}}
{{ end }}

<script>
    window.addEventListener("load", function(){
        app.$mount("#app")
    });
</script>

<style>
    #core-footer {
        z-index: 0;
    }
</style>

{{ block "styles" . }}
{{ end }}

</body>
</html>
