<div class="modal" id="launchModal">
	<div class="modal-dialog">
		<div class="modal-content">
			<form method="post" action="{{basePath}}/admin/node/locations/{{ location.id }}/edit">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
					<h4 class="modal-title">Editing: {{ location.long }}</h4>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="form-group col-md-6">
							<label class="control-label">Location Short Code</label>
							<input type="text" name="location-short" class="form-control" value="{{ location.short }}" />
						</div>
						<div class="form-group col-md-6">
							<label class="control-label">Location Description</label>
							<input type="text" name="location-long" class="form-control" value="{{ location.long }}"/>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Close</button>
					<input type="submit" value="Save Changes" class="btn btn-primary btn-sm" />
				</div>
			</form>
		</div>
	</div>
</div>
