{% extends "admin_base.html" %}

{% block title %}Viewing Node{% endblock %}

{% block content %}
<div class="col-md-9">
	<ul class="breadcrumb">
		<li><a href="/admin/index">Admin Control</a></li>
		<li><a href="/admin/node">Nodes</a></li>
		<li class="active">{{ node.name }}</li>
	</ul>
	{% if flash.info is defined %}
		{{ flash.info.0|raw }}
	{% endif %}
	<ul class="nav nav-tabs" id="config_tabs">
		<li class="active"><a href="#info" data-toggle="tab">Information</a></li>
                <li><a href="#deploy" data-toggle="tab">Auto-Deploy</a></li>
		<li><a href="#delete" data-toggle="tab">Delete</a></li>
	</ul>
	<div class="alert alert-warning" id="reset_token_warn" style="display:none;margin-top: 15px;">The pufferd Token for this node has been changed. <strong>You must manually edit <em>config.json</em> on the server in order for this to take effect.</strong> Until you do this functions for this node from the panel will not occur.<br /><br /><strong>Your new pufferd Token is:</strong> <span id="reset_token_warn_tkn">...</span></div>
	<div class="tab-content">
		<div class="tab-pane active" id="info">
			<h3>Basic Information</h3><hr />
			<form action="{{ node.id }}/settings" method="post">
				<fieldset>
					<div class="row">
						<div class="form-group col-md-6">
							<label for="name" class="control-label">Node Name</label>
							<div>
								<input type="text" name="name" value="{{ node.name }}" class="form-control" />
							</div>
						</div>
						<div class="form-group col-md-6">
							<label for="location" class="control-label">Location</label>
							<div>
								<select name="location" class="form-control">
									{% for location in locations %}
										<option value="{{ location.id }}" {% if location.id == node.location %}selected="selected"{% endif %}>{{ location.long }}</option>
									{% endfor %}
								</select>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="form-group col-md-6 nopad">
                                                    <label for="fqdn" class="control-label">Node <abbr title="Fully Qualified Domain Name">FQDN</abbr></label>
                                                    <div>
                                                            <input id="fqdn" type="text" name="fqdn" class="form-control" placeholder="us1.nodes.example.com" />
                                                            <p class="text-muted" style="margin: 0 0 -10.5px;"><small><em>Please enter the PUBLIC IP for this node. If you do not have one please enter its IP address. (Do not include the <code>http://</code>, <code>www</code>, or any trailing information. [i.e. enter only <code>node.example.com</code>])</em></small></p>
                                                    </div>
                                                </div>
                                                <div class="form-group col-md-6 nopad">
                                                        <label for="fqdn" class="control-label">Node <abbr title="Internal IP">Private IP</abbr></label>
                                                        <div>
                                                                <input id="internalip" type="text" name="internalip" class="form-control" placeholder="" />
                                                                <p class="text-muted" style="margin: 0 0 -10.5px;"><small><em>If the node is reachable through a different IP from the panel, enter that here, otherwise leave it blank. (Do not include the <code>http://</code>, <code>www</code>, or any trailing information. [i.e. enter only <code>node.example.com</code>])</em></small></p>
                                                        </div>
                                                </div>
                                        </div>
					<div class="form-group">
						<div>
							<input type="hidden" name="nid" value="{{ node.id }}" />
							<input type="submit" value="Update Information" class="btn btn-primary btn-sm" />
						</div>
					</div>
				</fieldset>
			</form>
		</div>
                <div class="tab-pane" id="deploy">
                    <br />
                    <div class="panel panel-default">
                        <div class="panel-heading">Auto-Deploy Node</div>
                        <div class="panel-body">
                            {% if autodeploy == false %}
                            <p>Node Auto-Deployment allows you to run one quick command on your new node to install the daemon and set it up immediately. Press the button below to generate a temporary token that will allow you to perform this action.<p>
                            <form action="{{ node.id }}/generate-autodeploy" method="POST">
                                <input type="submit" value="Generate Deployment Script" class="btn btn-primary btn-sm" />
                            </form>
                            {% else %}
                            <div class="alert alert-info">Please log into into this node and then run the command below to setup the daemon. This script will auto-expire 15 minutes after creation.</div>
                            <pre><code>sudo bash -c 'source <(curl -sSLk {{ settings.master_url }}auth/remote/deploy/{{ autodeploy.code }})'</code></pre>
                            <p style="margin-top:20px;">This automatic deploy script has been tested on the systems below. If your OS is not listed then it probably is not (officially) supported. If there is a pre-run command listed it must be run before running the command above.</p>
                            <table class="table table-hover" style="margin-bottom:0;">
                                <thead>
                                    <tr>
                                        <th>Operating System</th>
                                        <th>Pre-Run Command</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Debian/Ubuntu</td>
                                        <td><code>apt-get install sudo curl</code></td>
                                    </tr>
                                    <tr>
                                        <td>CentOS</td>
                                        <td>yum install sudo curl</td>
                                    </tr>
                                </tbody>
                            </table>
                            {% endif %}
                        </div>
                    </div>
                </div>
            
		<div class="tab-pane" id="delete">
			<h3>Delete Node</h3><hr />
				<div class="alert alert-danger"><strong>Deleting a node is an irreversible action.</strong> Proceed with caution. This node will be removed from the database immediately.</div>
				<form action="{{ node.id }}/delete" id="deleteCheckpoint" method="POST">
					<input type="submit" name="delete" class="btn btn-sm btn-danger" value="Permanently Delete this Node" />
				</form>
		</div>
	</div>
</div>
{% endblock %}

{% block javascript %}
<div class="modal fade" id="toggle_popup" tabindex="-1" role="dialog" aria-labelledby="AddNewIP" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="add_new_ip">Add New IP Address</h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-md-1 hidden-xs hidden-sm"></div>
					<div class="col-md-10 col-sm-12 col-xs-12">
						<form action="{{ node.id }}/add-ip" method="post">
							<div class="row">
								<div class="form-group col-md-12">
									<label for="ip_port" class="control-label">Available IPs &amp; Ports</label>
									<div>
										<textarea name="ip_port" class="form-control" rows="5" placeholder="127.0.0.1|25565,25567,25569,25571,25573,25575 OR 25565-25570"></textarea>
										<p class="text-muted" style="margin: 0 0 -10.5px;"><small><em>Enter one IP address per line, followed by a pipe (|) and then a list of each available port separated with commas OR with a range of ports.</em></small></p>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="form-group col-md-12">
									<div>
										<input type="hidden" name="nid" value="{{ node.id }}" />
										<input type="submit" class="btn btn-primary btn-sm" name="submit" value="Add New IPs" />
									</div>
								</div>
							</div>
						</form>
					</div>
					<div class="col-md-1 hidden-xs hidden-sm"></div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
$(window).load(function(){
	$("#sidebar_links").find("a[href='/admin/node']").addClass('active');
	$("form#deleteCheckpoint").submit(function(e) {
		e.preventDefault();
		if(confirm("STOP! Are you absolutely positive that you want to delete this node? This action cannot be undone!")) {
			$("#deleteCheckpoint").unbind('submit').submit();
		}
	});
	if($.urlParam('error') != null){
		var field = $.urlParam('error');
		var exploded = field.split('|');
			$.each(exploded, function(key, value) {
				$('[name="' + value + '"]').parent().parent().addClass('has-error');
			});
	}
	$("#warning_1").click(function(){
		if($(this).is(":checked"))
			$("#disable_complete").removeClass("disabled");
		else
			$("#disable_complete").addClass("disabled");
	});
	$("#warning_2").click(function(){
		if($(this).is(":checked"))
			$("#disable_complete_pass").removeClass("disabled");
		else
			$("#disable_complete_pass").addClass("disabled");
	});
        
        $('#fqdn').bind('keypress keyup blur', function() {
            $('#internalip').attr('placeholder', $(this).val());
        });

});
</script>
{% endblock %}
