.otp-input {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  max-width: calc(3.5em * 8);
  margin-left: auto;
  margin-right: auto;
  input {
    text-align: center;
    background-color: transparent;
    box-sizing: border-box;
    padding: var(--text-field-base-size, 1rem) var(--text-field-base-size, 1rem);
    font-size: var(--text-field-base-size, 1rem);
    position: relative;
    margin: 12px 0;
    display: inline-flex;
    flex-direction: row;
    border: 1px solid;
    border-radius: var(--border-radius);
    outline: 2px solid transparent;
    width: 3.5em;
    transition: all 0.1s ease-in-out;
    -moz-appearance: textfield;
    appearance: textfield;
    &::-webkit-outer-spin-button, &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }
  input:focus {
    caret-color: var(--primary);
    outline-color: var(--primary);
    border-color: var(--primary);
  }
}