.switch-wrapper {
  @include clickable;
  position: relative;
  display: block;
  margin-bottom: 0.5em;

  .switch {
    position: absolute;
  }

  input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .switch:before {
    content: '';
    margin-top: 12px;
    margin-bottom: 12px;
    position: relative;
    display: inline-block;
    width: 3em;
    height: 1.6em;
    background-color: #bbb;
    transition: 0.1s;
    border-radius: 0.8em;
  }

  .switch:after {
    @include raised;
    position: absolute;
    content: '';
    height: 1.4em;
    width: 1.4em;
    left: 0.1em;
    bottom: 0.1em;
    background-color: var(--text-primary);
    transition: 0.1s;
    border-radius: 50%;
    top: 0.85em;
    left: 0.2em;
  }

  .switch.disabled {
    cursor: unset;
    opacity: 0.5;
  }

  input:checked + .switch:before {
    background-color: var(--primary);
  }

  input:focus + .switch:before {
    outline: 1px solid var(--primary);
  }

  input:checked + .switch:after {
    transform: translateX(1.3em);
  }

  .label {
    line-height: 1.6em;
    margin-left: 4em;
    margin-right: 4em;
    top: -0.5em;
    position: relative;
  }

  .hint {
    display: block;
    margin-left: 4em;
    margin-right: 4em;
    margin-bottom: 12px;
    p {
      margin: 0;
      color: var(--text-disabled);
    }
  }
}
