.input-field-wrapper {
  .input-field {
    position: relative;
    margin: 12px 0;
    display: inline-flex;
    flex-direction: row;
    border: 1px solid;
    border-radius: var(--border-radius);
    outline: 2px solid transparent;
    width: 100%;
    transition: all 0.1s ease-in-out;
    &.disabled {
      border-color: var(--text-disabled);
      background-color: var(--backdrop);
    }
    label {
      position: absolute;
      top: 0;
      left: 0.75rem;
      font-size: 1rem;
      margin: 1rem 0;
      pointer-events: none;
      transition: all 0.1s ease-in-out;
    }
    input {
      background-color: transparent;
      flex-grow: 1;
      box-sizing: border-box;
      padding: 1rem 1rem;
      font-size: 1rem;
      border: none;
      outline: none;
      width: 1px; // acts more like a min-width, but min-width doesn't work here
      transition: all 0.1s ease-in-out;
      &:disabled {
        color: var(--text-disabled);
      }
    }
    .icon.pre ~ input {
      padding: 1rem 0;
    }
    input::placeholder {
      color: transparent;
    }
    input:focus ~ label, input:not(:placeholder-shown) ~ label {
      top: -1.5rem;
      left: 0.75rem;
      font-size: 0.85em;
      span {
        position: relative;
        padding: 0 .35em;
      }
      &::before {
        background-color: var(--background);
        content: '';
        position: absolute;
        height: 60%;
        width: 100%;
      }
    }
    input:focus {
      caret-color: var(--primary);
    }
    input:focus ~ label {
      color: var(--primary);
    }

    .icon.post {
      @include clickable;
    }
    .icon.pre, .icon.post {
      padding: 0.5rem 0.75rem;
      font-size: 2rem;
      transition: all 0.1s ease-in-out;
    }
    .icon.pre ~ label {
      top: 0.25rem;
      left: 3.25rem;
    }
    .icon.pre ~ input:focus ~ label, .icon.pre ~ input:not(:placeholder-shown) ~ label {
      top: -1.5rem;
      left: 0.75em;
    }
    &:focus-within {
      border: 1px solid var(--primary);
      outline: 2px solid var(--primary);
      .icon.pre ~ label {
        left: 0.5rem;
      }
    }
  }
  .error {
    color: var(--error);
    border-color: var(--error);
    label, .icon {
      color: var(--error);
    }
  }
  span.error {
    display: block;
    margin-top: -6px;
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 12px;
  }

  .hint {
    display: block;
    margin-top: -6px;
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 12px;
    p {
      margin: 0;
      color: var(--text-disabled);
    }
  }
}

html[dir="rtl"] .input-field-wrapper {
  .input-field {
    label {
      right: 0.75rem;
      left: unset;
    }
    input:focus ~ label, input:not(:placeholder-shown) ~ label {
      right: 0.375rem;
      left: unset;
    }
    .icon.pre ~ label {
      right: 3rem;
      left: unset;
    }
    .icon.pre ~ input:not(:placeholder-shown) ~ label {
      right: 0.5rem;
      left: unset;
    }
    &:focus-within {
      .icon.pre ~ label {
        right: 0.5rem;
        left: unset;
      }
    }
  }
}
