#toasts {
  position: fixed;
  top: 64px;
  right: 1em;
  z-index: 10;

  .toast {
    @include card;
    margin-top: 1em;
    transition: all 0.1s ease-in-out;
  }

  .toast.in, .toast.out {
    height: 0;
    padding: 0;
    margin: 0;
    opacity: 0;
  }

  .error {
    background-color: var(--error);
    color: var(--text);
  }

  .success {
    background-color: var(--success);
    color: var(--text);
  }
}

html[dir="rtl"] #toasts {
  right: unset;
  left: 1em;
}
