{% extends "base.html" %}

{% block title %}Add New Subuser{% endblock %}

{% block content %}
<div class="col-md-9">
	{% if flash.info is defined %}
		{{ flash.info.0|raw }}
	{% endif %}
	<form action="/node/users/add" method="post">
		<h3 class="nopad">Permissions</h3>
		<div class="list-group">
			<a href="#" class="list-group-item">
				<label><input type="checkbox" name="permissions[]" value="console.view" checked="checked" disabled/> View Console</label>
				<p class="list-group-item-text">Gives user permission to view the console page. This must be enabled in order to add a subuser to the server. They will be able to view the server statistics as well as the server console.</p>
				<div class="row" style="margin-top:10px;">
					<div class="col-md-1 col-sm-1 col-xs-1"><br /><br /></div>
					<div class="col-md-11 col-sm-11 col-xs-11">
						<label><input type="checkbox" name="permissions[]" value="console.commands"/> Send Commands</label>
						<p class="list-group-item-text">Gives user permission to send commands to the server from the page.</p>
					</div>
				</div>
				<div class="row" style="margin-top:10px;">
					<div class="col-md-1 col-sm-1 col-xs-1"><br /><br /></div>
					<div class="col-md-11 col-sm-11 col-xs-11">
						<label><input type="checkbox" name="permissions[]" value="console.power"/> Control Power</label>
						<p class="list-group-item-text">Gives user permission to start, stop, or restart the server.</p>
					</div>
				</div>
			</a>
			<!--<a href="#" class="list-group-item">
				<label><input id="toggle_files" type="checkbox" name="permissions[]" value="files.view"/> View Files</label>
				<p class="list-group-item-text">Gives user permission to view the file listing.</p>
				<span id="toggle_files_list" style="display:none;">
					<div class="row" style="margin-top:10px;">
						<div class="col-md-1 col-sm-1 col-xs-1"><br /><br /></div>
						<div class="col-md-11 col-sm-11 col-xs-11">
							<label><input type="checkbox" name="permissions[]" value="files.edit"/> Edit File</label>
							<p class="list-group-item-text">Gives user permission to open a file for editing.</p>
						</div>
					</div>
					<div class="row" style="margin-top:10px;">
						<div class="col-md-1 col-sm-1 col-xs-1"><br /><br /></div>
						<div class="col-md-11 col-sm-11 col-xs-11">
							<label><input type="checkbox" name="permissions[]" value="files.save"/> Save Modifications</label>
							<p class="list-group-item-text">Gives user permission to save a modified version of a file.</p>
						</div>
					</div>
					<div class="row" style="margin-top:10px;">
						<div class="col-md-1 col-sm-1 col-xs-1"><br /><br /></div>
						<div class="col-md-11 col-sm-11 col-xs-11">
							<label><input type="checkbox" name="permissions[]" value="files.download"/> Download Files</label>
							<p class="list-group-item-text">Gives user permission to download files from the server.</p>
						</div>
					</div>
					<div class="row" style="margin-top:10px;">
						<div class="col-md-1 col-sm-1 col-xs-1"><br /><br /><br /></div>
						<div class="col-md-11 col-sm-11 col-xs-11">
							<label><input type="checkbox" name="permissions[]" value="files.zip"/> Compress and Decompress Files</label>
							<p class="list-group-item-text">Gives user permission to unzip or untar files on the server as well as compress existing folders.</p>
						</div>
					</div>
					<div class="row" style="margin-top:10px;">
						<div class="col-md-1 col-sm-1 col-xs-1"><br /><br /></div>
						<div class="col-md-11 col-sm-11 col-xs-11">
							<label><input type="checkbox" name="permissions[]" value="files.create"/> Create Files</label>
							<p class="list-group-item-text">Gives user permission to create files on the server.</p>
						</div>
					</div>
					<div class="row" style="margin-top:10px;">
						<div class="col-md-1 col-sm-1 col-xs-1"><br /><br /></div>
						<div class="col-md-11 col-sm-11 col-xs-11">
							<label><input type="checkbox" name="permissions[]" value="files.upload"/> Upload Files</label>
							<p class="list-group-item-text">Gives user permission to upload files to the server.</p>
						</div>
					</div>
					<div class="row" style="margin-top:10px;">
						<div class="col-md-1 col-sm-1 col-xs-1"><br /><br /></div>
						<div class="col-md-11 col-sm-11 col-xs-11">
							<label><input type="checkbox" name="permissions[]" value="files.delete"/> Delete Files <span class="label label-danger">Danger</span></label>
							<p class="list-group-item-text">Gives user permission to delete files on the server.</p>
						</div>
					</div>
				</span>
			</a>-->
			<a href="#" class="list-group-item">
				<label><input type="checkbox" name="permissions[]" value="manage.oauth2"/> OAuth2 Access</label>
				<p class="list-group-item-text">Gives user permission to create their own API credentials</p>
			</a>
			<a href="#" class="list-group-item">
				<label><input type="checkbox" name="permissions[]" value="sftp"/> SFTP</label>
				<p class="list-group-item-text">Gives user permission to access the server using SFTP</p>
			</a>
		</div>
		<div class="form-group">
			<label>Email of User to Invite</label>
			<div>
				<input type="text" autocomplete="off" name="email" class="form-control" />
			</div>
		</div>
		<div class="form-group">
			<div>
				{{ xsrf|raw }}
				<input type="submit" value="Invite Subuser" class="btn btn-primary btn-sm" />
			</div>
		</div>
	</form>
</div>
<script type="text/javascript">
$(document).ready(function() {
	$("#toggle_manage").click(function() {
		if($("#toggle_manage").is(":checked")) {
			$("#toggle_manage_list").slideDown();
		} else {
			$("#toggle_manage_list").slideUp();
		}
	});
	$("#toggle_files").click(function() {
		if($("#toggle_files").is(":checked")) {
			$("#toggle_files_list").slideDown();
		} else {
			$("#toggle_files_list").slideUp();
		}
	});
	$("#sidebar_links").find("a[href='/node/users']").addClass('active');
});
</script>
{% endblock %}
