{% extends "base.html" %}

{% block title %}Manage Subusers{% endblock %}

{% block servername %}
<ul class="nav navbar-nav">
	<li class="active dynUpdate" id="{{ server.id }}"><a><i id="applyUpdate" class="fa fa-circle-o-notch fa-spinner fa-spin spin-light"></i> {{ server.name }}</a></li>
</ul>
{% endblock %}

{% block content %}
<div class="col-9">
	<p style="text-align:right;"><a href="/node/users/add"><button class="btn btn-sm btn-primary">Add Subuser</button></a></p>
	{% if flash.info is defined %}
		{{ flash.info.0|raw }}
	{% endif %}
	<div class="list-group">
	{% for email, info in users %}
		<a {% if info.status != "pending" %}href="/node/users/edit/{{ info.id }}"{% endif %} class="list-group-item">
			<h4 class="list-group-item-heading">{{ email }}</h4>
			{% if info.status == "pending" %}<p><span class="label label-default">Pending</span>&nbsp;<span class="label label-danger" style="cursor:pointer;" onclick="window.location='/node/users/revoke/{{ info.revoke }};'">Revoke</span></p>{% endif %}
			<p class="list-group-item-text"><strong>Permission Nodes:</strong>
				{% for id, perms in info.permissions %}
					{{ perms }}{% if loop.last != true %},{% endif %}
				{% endfor %}
			</p>
		</a>
	{% endfor %}
	</div>
</div>
<script type="text/javascript">
$(document).ready(function() {
	$("#sidebar_links").find("a[href='/node/users']").addClass('active');
});
</script>
{% endblock %}