<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="{{basePath}}/assets/css/bootstrap.css">
	<link rel="stylesheet" href="{{basePath}}/assets/css/pufferpanel.css">
	<link rel="stylesheet" href="{{basePath}}/assets/css/fontawesome/font-awesome.min.css">
	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script src="{{basePath}}/assets/javascript/bootstrap.js"></script>
	<title>404 File Not Found</title>
</head>
<body>
	<div class="container">
		<div class="navbar navbar-default">
			<div class="navbar-header">
				<a class="navbar-brand" href="{{basePath}}/index">404 Not Found</a>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<h1 style="text-align:center;">404 - File Not Found</h1>
				<p style="text-align:center;"><img src="{{basePath}}/assets/images/puffer.png" /></p>
				<p style="text-align:center;"><a href="{{basePath}}/index">Take me back please!</a></p>
			</div>
		</div>
		<div class="footer">
			<div class="row">
				<div class="col-md-8 ">
					<p>{{ l.render('footer.license')|raw }}<br />{{ l.render('footer.version')|format(fversion)|raw }}</p>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
