{% extends "base.html" %}

{% block title %}File Manager{% endblock %}

{% block content %}
{% if flash.info is defined %}
<div class="col-md-9">
    {{ flash.info.0|raw }}
</div>
{% endif %}
<div class="col-md-9" id="load_files">
    <h4 class="nopad"><span id="currentPath"></span> {% if ( permission.has('files.create') ) or (
        permission.has('files.upload') )
        %}
        <small><a href="#" class="text-muted"><i class="fa fa-plus"></i></a></small>
        {% endif %}
    </h4>
    <table class="table table-striped table-bordered table-hover">
        <thead>
        <tr>
            <th style="width:2%;text-align:center;"></th>
            <th style="width:55%">{{ l.render('node.files.name') }}</th>
            <th style="width:15%">{{ l.render('node.files.size') }}</th>
            <th style="width:20%">{{ l.render('node.files.modified') }}</th>
            <th style="width:10%;text-align:center;">{{ l.render('string.options') }}</th>
        </tr>
        </thead>
        <tbody data-bind="template: {name: displayMode, foreach: files }">
        </tbody>
    </table>
</div>

<script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/knockout/3.4.1/knockout-min.js'></script>

<script type="text/javascript">
    var currentDir = '/';
    var fileModel = {
        files: ko.observableArray(),
        displayMode: function (file) {
            return file.isFile ? 'fm-file' : file.name == '..' ? 'fm-up' : 'fm-folder';
        }
    };

    ko.applyBindings(fileModel);

    $(window).load(function () {
        $("#sidebar_links").find("a[href='/node/files']").addClass('active');
    });

    $(window).load(function () {
        $("#currentPath").text(currentDir);

        getFileList(currentDir);
    });

    function getFileList(path) {
        makeDaemonCall('GET', path, {}, function (data) {
            fileModel.files.removeAll();
            data.forEach(function (e) {
                fileModel.files.push({
                    modifyDate: e.modifyTime,
                    name: e.name,
                    size: e.size,
                    isFile: e.isFile
                });
            });
        });
    }

    function makeDaemonCall(method, path, data, callback) {
        $.ajax({
            method: method,
            url: '/daemon/server/{{ server.hash }}/file' + path,

        }).done(callback).error(displayError);
    }

    function displayError(err) {

    }
</script>

<script type="text/html" id="fm-file">
    <tr>
        <td><i class="fa fa-file-text" style="margin-left: 2px;"></i></td>
        <td>
            <a href="#" class="edit_file" data-bind="text: name"></a>
        </td>
        <td data-bind="text: size"></td>
        <td data-bind="text: modifyDate"></td>
        <td style="text-align:center;">
            <div class="row" style="text-align:center;">
                <div class="col-md-3 hidden-xs hidden-sm">
                    {% if permission.has('files.download') %}
                    <a data-bind="attr: { href: '/daemon/server/{{ server.hash }}/file' + currentDir + name, download: name }"><span class="badge"><i class="fa fa-download"></i></span></a>
                    {% endif %}
                </div>
                <div class="col-md-3">
                    {% if permission.has('files.delete') %}
                    <a href="#" class="delete_file"><span class="badge label-danger"><i
                            class="fa fa-trash-o"></i></span></a>
                    {% endif %}
                </div>
            </div>
        </td>
    </tr>
</script>

<script type="text/html" id="fm-folder">
    <tr>
        <td><i class="fa fa-folder-open" style="margin-left: 0.859px;"></i></td>
        <td><a href="#" class="load_new" data-bind="text: name"></a></td>
        <td data-bind="text: size"></td>
        <td data-bind="text: modifyDate"></td>
        <td style="text-align:center;">
            <div class="row" style="text-align:center;">
                <div class="col-md-3 hidden-xs hidden-sm"></div>
                <div class="col-md-3">
                    {% if permission.has('files.delete') %}
                    <a href="#" class="delete_file"><span class="badge label-danger"><i
                            class="fa fa-trash-o"></i></span></a>
                    {% endif %}
                </div>
            </div>
        </td>
    </tr>
</script>

<script type="text/html" id="fm-up">
    <tr>
        <td><i class="fa fa-folder-open" style="margin-left: 0.859px;"></i></td>
        <td><a href="#" class="load_new">&larr;</a></a></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
</script>

{% endblock %}
