{% extends "base.html" %}

{% block title %}File Manager{% endblock %}

{% block content %}
	{% if flash.info is defined %}
	<div class="col-md-9">
		{{ flash.info.0|raw }}
	</div>
	{% endif %}
	<div class="col-md-9" id="internal_alert">
		<div class="alert alert-info">
			<i class="fa fa-spinner fa-spin"></i> {{ l.render('node.files.loading') }}
		</div>
	</div>
	<div class="col-md-9">
		<div class="files_loading_box"><i class="fa fa-refresh fa-spin" id="position_me"></i></div>
	</div>
	<div class="col-md-9" id="load_files"></div>
<script type="text/javascript">
$(window).load(function(){
	$("#sidebar_links").find("a[href='/node/files']").addClass('active');
	$.urlParam = function(name, url){
		var results = new RegExp('[\\?&]' + name + '=([^&#]*)').exec(decodeURIComponent(url));
		if (results==null){
			return null;
		}else{
			return results[1] || 0;
		}
	}
	var doneLoad = false;
	function handleLoader(show){
		if(show === true){
			var height = $("#load_files").height();
			var width = $(".files_loading_box").width();
			var center_height = (height / 2) - 30;
			var center_width = (width / 2) - 30;
			$("#position_me").css({"top": center_height, "left": center_width, "font-size": "60px"});
			$(".files_loading_box").css("height", (height + 5)).fadeIn();
		}else{
			$(".files_loading_box").fadeOut(100);
		}
	}
	function newLoad(){
		$("a.load_new").click(function(event){
			event.preventDefault();
			handleLoader(true);
			if($.urlParam('dir', $(this).attr("href")) != null){
				var dir = $.urlParam('dir', $(this).attr("href"));
				$.ajax({
					type: "POST",
					url: '/node/ajax/files/directory',
					data: {'dir': dir},
					success: function(data) {
						handleLoader(false);
						$("#load_files").slideUp(function(){
							$("#load_files").html(data);
							$("#load_files").slideDown();
							newLoad();
						});
					}
				});
			}else{
				$.ajax({
					type: "POST",
					url: '/node/ajax/files/directory',
					data: {},
					success: function(data) {
						handleLoader(false);
						$("#load_files").slideUp(function(){
							$("#load_files").html(data);
							$("#load_files").slideDown();
							newLoad();
						});
					}
				});
			}
		});
		$(".delete_file").click(function(e){
			e.preventDefault();
			var clicked = $(this); //Fixes some strange bug going on
			var deleteItemPath = clicked.attr("href");
			$.ajax({
				type: "POST",
				url: '/node/ajax/files/delete',
				data: {
					'deleteItemPath': deleteItemPath
				},
				error: function(jqXHR, textStatus, errorThrown) {
					alert(jqXHR.responseText);
				},
				success: function(data) {
					if(data != "ok") {
						alert(data);
					}else{
						clicked.parent().parent().parent().parent().fadeOut();
					}
				}
			});
		});
		$(".zip_file").click(function(e){
			e.preventDefault();
			clicked = $(this); //Fixes some strange bug going on
			var zipItemPath = clicked.attr("href");
			$.ajax({
				type: "POST",
				url: '/node/ajax/files/compress',
				data: {
					'zipItemPath': zipItemPath
				},
				error: function(jqXHR, textStatus, errorThrown) {
					alert(jqXHR.responseText);
				},
				success: function(data) {
					if(data != "ok") {
						alert(data);
					} else {
						firstLoad();
					}
				}
			});
		});
		$(".unzip_file").click(function(e){
			e.preventDefault();
			clicked = $(this); //Fixes some strange bug going on
			var unzipItemPath = clicked.attr("href");
			$.ajax({
				type: "POST",
				url: '/node/ajax/files/compress',
				data: {
					'unzipItemPath': unzipItemPath
				},
				error: function(jqXHR, textStatus, errorThrown) {
					alert(jqXHR.responseText);
				},
				success: function(data) {
					if(data != "ok") {
						alert(data);
					} else {
						firstLoad();
					}
				}
			});
		});
	}
	function firstLoad() {
		$("#loading_dir").fadeIn(200);
		$("#internal_alert").slideDown();
		if($.urlParam('dir', $(location).attr('href')) != null && doneLoad === false){
			var dir = $.urlParam('dir', $(location).attr('href'));
			$("#loading_dir").fadeIn(200);
			$.ajax({
				type: "POST",
				url: '/node/ajax/files/directory',
				data: {'dir': dir},
				success: function(data) {
					$("#load_files").slideUp(function(){
						$("#load_files").html(data);
						$("#internal_alert").delay(50).slideUp(function() {
							$("#load_files").slideDown();
							$("#loading_dir").fadeOut(200);
							doneLoad = true;
							newLoad();
						});
					});
				}
			});
		}else{
			$("#loading_dir").fadeIn(200);
			$.ajax({
				type: "POST",
				url: '/node/ajax/files/directory',
				data: {},
				success: function(data) {
					$("#load_files").slideUp(function(){
						$("#load_files").html(data);
						$("#internal_alert").delay(50).slideUp(function() {
							$("#load_files").slideDown();
							$("#loading_dir").fadeOut(200);
							doneLoad = true;
							newLoad();
						});
					});
				}
			});
		}
	}
	firstLoad();
});
</script>
{% endblock %}
