{% extends "admin_base.html" %}

{% block title %}Global Settings{% endblock %}

{% block content %}
<div class="col-md-9">
	<ul class="breadcrumb">
		<li><a href="/admin/index">Admin Control</a></li>
		<li>Settings</li>
		<li class="active">Global</li>
	</ul>
	{% if flash.info is defined %}
		{{ flash.info.0|raw }}
	{% endif %}
	<h3>Company Name</h3><hr />
	<form action="global/company" method="POST">
		<fieldset>
			<div class="input-group">
				<input type="text" name="company_name" class="form-control" value="{{ settings.company_name }}" />
				<span class="input-group-btn">
					<input type="submit" value="Update" class="btn btn-primary btn-sm" />
				</span>
			</div>
		</fieldset>
	</form>
	<br />
	<h3>Global Settings</h3><hr />
	<form action="global/general" method="POST">
		<fieldset>
			<div class="row">
				<div class="form-group col-md-6 col-sm-6">
					<div>
						<label><input type="checkbox" name="permissions[]" value="https" {% if settings.https == 1 %}checked="checked"{% endif %}/> Require Secure Connection</label><br />
						<p><small class="text-muted"><em>Checking this box will require that all connections to the panel and API be made over a secure (https) connection. Any requests to the panel from a non-secure conenction will redirect, and non-secure API connections will fail.</em></small></p>
					</div>
				</div>
				<div class="form-group col-md-6 col-sm-6">
					<div>
						<label><input type="checkbox" name="permissions[]" value="allow_subusers" {% if settings.allow_subusers == 1 %}checked="checked"{% endif %}/> Allow Sub-Users</label><br />
						<p><small class="text-muted"><em>Checking this box will allow for users to manually add users to their servers who can access certain settings of the panel to control their server.</em></small></p>
					</div>
				</div>
			</div>
			<div class="form-group">
				<div>
					<input type="submit" value="Update Settings" class="btn btn-primary btn-sm" />
				</div>
			</div>
		</fieldset>
	</form>
</div>
<script type="text/javascript">
$(document).ready(function(){
	$("#sidebar_links").find("a[href='/admin/settings/global']").addClass('active');
});
</script>
{% endblock %}

{% block javascript %}{% endblock %}
