<h4 class="nopad">/server/{{ header_dir }} <small><a href="/node/files/add/{{ header_dir }}" class="text-muted"><i class="fa fa-plus"></i></a></small></h4>
<table class="table table-striped table-bordered table-hover">
	<thead>
		<tr>
			<th style="width:2%;text-align:center;"></th>
			<th style="width:45%">{{ lang.node_files_name }}</th>
			<th style="width:15%">{{ lang.node_files_size }}</th>
			<th style="width:20%">{{ lang.node_files_modified }}</th>
			<th style="width:20%;text-align:center;">{{ lang.string_options }}</th>
		</tr>
	</thead>
	<tbody>
		{% if directory is iterable %}
			{% if directory.first == true %}
				<tr>
				    <td><i class="fa fa-folder-open" style="margin-left: 0.859px;"></i></td>
				    <td><a href="/node/files" class="load_new">&larr;</a></a></td>
				    <td></td>
				    <td></td>
				    <td></td>
				</tr>
			{% endif %}
			{% if directory.show == true %}
				<tr>
			        <td><i class="fa fa-folder-open" style="margin-left: 0.859px;"></i></td>
			        <td><a href="/node/files?dir={{ directory.link }}" class="load_new">&larr; {{ directory.link_show }}</a></a></td>
			        <td></td>
			        <td></td>
			        <td></td>
			    </tr>
		    {% endif %}
		{% endif %}
		{% for folder in folders %}
			<tr>
	            <td><i class="fa fa-folder-open" style="margin-left: 0.859px;"></i></td>
	            <td><a href="/node/files?dir={% if folder.directory %}{{ folder.directory }}/{% endif %}{{ folder.entry }}" class="load_new">{{ folder.entry }}</a></td>
	            <td>{{ folder.size }}</td>
	            <td>{{ folder.date|date("m/d/y H:i:s") }}</td>
	            <td style="text-align:center;">
					<div class="row" style="text-align:center;margin-left:8px;">
						<div class="col-4" style="padding: 0 !important;margin: 0 -1px 0;"></div>
						<div class="col-4" style="padding: 0 !important;margin: 0 -1px 0;">
						{% if ( permission.files.zip == true ) and ( file.extension not in zip_extensions ) %}
							<button href="/node/files/compress/{% if folder.directory %}{{ folder.directory }}/{% endif %}{{ folder.entry }}" class="zip_file btn btn-xxs btn-default"><i class="fa fa-archive"></i></button>
						{% endif %}
						</div>
						<div class="col-4" style="padding: 0 !important;margin: 0 -1px 0;">
						{% if permission.files.delete == true %}
							<button href="/node/files/delete/{% if folder.directory %}{{ folder.directory }}/{% endif %}{{ folder.entry }}" class="delete_file btn btn-xxs btn-danger"><i class="fa fa-trash"></i></button>
						{% endif %}
						</div>
					</div>
				</td>
	        </tr>
		{% endfor %}
		{% for file in files %}
			<tr>
				<td><i class="fa fa-file-text" style="margin-left: 2px;"></i></td>
				<td>
					{% if file.extension in extensions %}
						{% if permission.files.edit == true %}
							<a href="/node/files/edit/{% if file.directory %}{{ file.directory }}/{% endif %}{{ file.entry }}" class="edit_file">{{ file.entry }}</a>
						{% else %}
							{{ file.entry }}
						{% endif %}
					{% else %}
						{{ file.entry }}
					{% endif %}
				</td>
				<td>{{ file.size }}</td>
				<td>{{ file.date|date("m/d/y H:i:s") }}</td>
				<td style="text-align:center;">
					<div class="row" style="text-align:center;margin-left:8px;">
						<div class="col-4" style="padding: 0 !important;margin: 0 -1px 0;">
						{% if ( permission.files.zip == true ) and ( file.extension in zip_extensions ) %}
							<button href="/node/files/decompress/{% if file.directory %}{{ file.directory }}/{% endif %}{{ file.entry }}" class="unzip_file btn btn-xxs btn-default"><i class="fa fa-file-archive-o"></i></button>
						{% endif %}
						</div>
						<div class="col-4" style="padding: 0 !important;margin: 0 -1px 0;">
						{% if permission.files.download == true %}
							<a href="/node/files/download/{% if file.directory %}{{ file.directory }}/{% endif %}{{ file.entry }}"><button class="btn btn-xxs btn-primary"><i class="fa fa-download"></i></button></a>
						{% endif %}
						</div>
						<div class="col-4" style="padding: 0 !important;margin: 0 -1px 0;">
						{% if permission.files.delete == true %}
							<button href="/node/files/delete/{% if file.directory %}{{ file.directory }}/{% endif %}{{ file.entry }}" class="delete_file btn btn-xxs btn-danger"><i class="fa fa-trash"></i></button>
						{% endif %}
						</div>
					</div>
				</td>
			</tr>
		{% endfor %}
	</tbody>
</table>
