{% extends "admin_base.html" %}

{% block title %}Add New User{% endblock %}

{% block content %}
<div class="col-md-9">
    <ul class="breadcrumb">
        <li><a href="/admin/index">Admin Control</a></li>
        <li><a href="/admin/account">Accounts</a></li>
        <li class="active">Create New Account</li>
    </ul>
    {% if flash.info is defined %}
    {{ flash.info.0|raw }}
    {% endif %}
    <h3>Create New Account</h3><hr />
    <form action="new" method="post">
        <fieldset>
            <div class="form-group">
                <label for="username" class="control-label">Username</label>
                <div>
                    <input type="text" autocomplete="off" name="username" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <label for="email" class="control-label">Email</label>
                <div>
                    <input type="text" autocomplete="off" name="email" class="form-control" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div id="gen_pass" class=" alert alert-success" style="display:none;margin-bottom: 10px;"></div>
                </div>
                <div class="form-group col-md-6">
                    <label for="pass" class="control-label">Password</label>
                    <div>
                        <input type="password" name="pass" class="form-control" />
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label for="pass_2" class="control-label">Password Again</label>
                    <div>
                        <input type="password" name="pass_2" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div>
                    <button class="btn btn-primary btn-sm" type="submit">Create Account</button>
                    <button class="btn btn-default btn-sm" id="gen_pass_bttn" type="button">Generate Password</button>
                </div>
            </div>
        </fieldset>
    </form>
</div>
{% endblock %}

{% block javascript %}
<script type="text/javascript">
    $(document).ready(function () {
        $("#sidebar_links").find("a[href='/admin/account/new']").addClass('active');
        $("#gen_pass_bttn").click(function (e) {
            e.preventDefault();
            $.ajax({
                type: "GET",
                url: "/admin/passgen/12",
                success: function (data) {
                    $("#gen_pass").html('<strong>Generated Password:</strong> ' + data).slideDown();
                    $('input[name="pass"], input[name="pass_2"]').val(data);
                    return false;
                }
            });
            return false;
        });
    });
</script>
{% endblock %}
