<!DOCTYPE html>
<html lang="en">
<head>
	{% block head %}
		{% block scripts %}
			<meta charset="UTF-8">
			<script type="text/javascript">var pageRenderStart = new Date().getTime();</script>
			<link rel="stylesheet" href="{{ settings.assets_url }}css/bootstrap.css">
			<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
			<script src="{{ settings.assets_url }}javascript/bootstrap.min.js"></script>
			<script src="{{ settings.assets_url }}javascript/admin.min.js"></script>
			<script src="{{ settings.assets_url }}javascript/jquery.cookie.js"></script>
			<script src="{{ settings.assets_url }}javascript/jquery.debounce.js"></script>
			<script src="{{ settings.assets_url }}javascript/jquery.redirect.min.js"></script>
			<script src="{{ settings.assets_url }}javascript/socket.io.min.js"></script>
		{% endblock %}
		<title>{{ settings.company_name }} - {% block title %}{% endblock %}</title>
	{% endblock %}
</head>
<body>
	<div class="container">
		<div class="pull-right" style="margin-top: -26px;">
			<a href="{{ settings.master_url }}language/de" class="language">Deutsch</a>
			<a href="{{ settings.master_url }}language/en" class="language">English</a>
			<a href="{{ settings.master_url }}language/es" class="language">Espa&ntilde;ol</a>
			<a href="{{ settings.master_url }}language/fr" class="language">Fran&ccedil;ais</a>
			<a href="{{ settings.master_url }}language/pt" class="language">Portugu&ecirc;s</a>
			<a href="{{ settings.master_url }}language/ru" class="language">&#1088;&#1091;&#1089;&#1089;&#1082;&#1080;&#1081;</a>
			<a href="{{ settings.master_url }}language/se" class="language">Svenska</a>
			<a href="{{ settings.master_url }}language/zh" class="language">&#20013;&#22269;&#30340;的</a>
		</div>
		<div class="navbar navbar-default">
			<div class="navbar-header">
				<a class="navbar-brand" href="/index">{{ settings.company_name }}</a>
			</div>
			{% block servername %}
				{% if server.name is defined %}
				<ul class="nav navbar-nav">
					<li class="active dynUpdate" id="{{ server.id }}"><a href="/node/index"><i id="applyUpdate" class="fa fa-circle-o-notch fa-spinner fa-spin spin-light"></i> {{ server.name }}</a></li>
				</ul>
				{% endif %}
			{% endblock %}
			<div class="navbar-collapse navbar-responsive-collapse collapse" style="height: 1px;">
				<ul class="nav navbar-nav navbar-right">
					{% if admin %}<li><a href="/admin/index"><i class="fa fa-cogs"></i></a></li>{% endif %}
					<li><a href="/auth/logout"><i class="fa fa-power-off"></i></a></li>
				</ul>
			</div>
		</div>
		<div class="row">
			<div class="col-3" id="sidebar_links">
				{% block sidebar %}
					{% if server.name is defined %}
						<div class="list-group">
							<a href="#" class="list-group-item list-group-item-heading"><strong>{{ lang.sidebar_acc_actions }}</strong></a>
							<a href="/account" class="list-group-item">{{ lang.sidebar_settings }}</a>
							<a href="/totp" class="list-group-item">TOTP {{ lang.sidebar_settings }}</a>
							<a href="/index" class="list-group-item">{{ lang.sidebar_servers }}</a>
						</div>
						<div class="list-group">
							<a href="#" class="list-group-item list-group-item-heading"><strong>{{ lang.sidebar_server_acc }}</strong></a>
							<a href="/node/index" class="list-group-item">{{ lang.sidebar_overview }}</a>
							{% if permission.files.view == true %}<a href="/node/files" class="list-group-item">{{ lang.sidebar_files }}</a>{% endif %}
							{% if permission.users.view == true %}<a href="/node/users" class="list-group-item">Manage Subusers</a>{% endif %}
							{% if permission.manage.view == true %}<a href="/node/settings" class="list-group-item">{{ lang.sidebar_manage }}</a>{% endif %}
						</div>
					{% endif %}
				{% endblock %}
			</div>
			{% block content %}{% endblock %}
		</div>
		<div class="footer">
			<div class="row">
				<div class="col-8 ">
					<p>{{ lang.footer_license|raw }}<br />{{ lang.footer_version|format(fversion)|raw }}</p>
				</div>
				<div class="col-4">
					<p class="pull-right">Page Rendered in <span id="p_render_time">...</span> seconds.</p>
				</div>
			</div>
			<script type="text/javascript">
			$(document).ready(function(){
				if($.urlParam('tab') != null){$('#config_tabs a[href="#'+$.urlParam('tab')+'"]').tab('show');}
				function updateServerStatus() {
					$(".dynUpdate").each(function(index, data){
						var element = $(this);
						var connection = element.attr("id");
						if(element.find("#applyUpdate").hasClass("spin-light")){var c = {"color": "#fff"};} else {var c = {"color": "#000"};}
						element.find("#applyUpdate").removeClass("fa-circle").css(c);
						element.find("#applyUpdate").addClass("fa-circle-o-notch fa-spinner fa-spin");
						$.ajax({
							type: "POST",
							url: "/ajax/status",
							data: { server: connection },
							success: function(data) {
									element.find("#applyUpdate").removeClass("fa-circle-o-notch fa-spinner fa-spin");
									element.find("#applyUpdate").addClass("fa-circle").css({"color": data});
							}
						});
					});
				}
				updateServerStatus();
				setInterval(updateServerStatus, 15000);
			});
			for(var queryParameters={},queryString=location.search.substring(1),re=/([^&=]+)=([^&]*)/g,m;m=re.exec(queryString);)queryParameters[decodeURIComponent(m[1])]=decodeURIComponent(m[2]);$("a[data-toggle='tab']").click(function(){queryParameters.tab=$(this).attr("href").substring(1),window.history.pushState(null,null,location.pathname+"?"+$.param(queryParameters))});
			$(window).load(function() {
				var elapsed = parseInt(new Date().getTime() - pageRenderStart) / 1000;
				$("#p_render_time").html(elapsed);
			});
			</script>
		</div>
	</div>
</body>
</html>
