{% extends "base.html" %}

{% block title %}Login{% endblock %}
{% block content %}
<div class="col-6">
   	<form action="index.php?do=login" method="POST" id="login-form">
    	<legend>{{ lang.login_login_h1 }}</legend>
    	<fieldset>
    		{% if get.error is defined %}
    			<div class="alert alert-danger"><strong>Oh snap!</strong> The username or password you submitted was incorrect.</div>
    		{% endif %}
    		{% if get.totp is defined %}
    			<div class="alert alert-danger"><strong>Oh snap!</strong> Your Two-Factor Authentication token was missing or incorrect.</div>
    		{% endif %}
    		{% if get.login is defined %}
    			<div class="alert alert-danger">You are not authorized to access that page. Please log in.</div>
    		{% endif %}
    		<div class="form-group">
    			<label for="email" class="control-label">{{ lang.string_email }}</label>
    			<div>
    				<input type="text" class="form-control" name="email" placeholder="{{ lang.string_email }}" />
    			</div>
    		</div>
    		<div class="form-group">
    			<label for="login-password" class="control-label">{{ lang.string_password }}</label>
    			<div>
    				<input type="password" class="form-control" name="password" placeholder="{{ lang.string_password }}" />
    			</div>
    		</div>
    		<div class="form-group">
    			<label for="totp_token" class="control-label">Two-Factor Authentication Token</label>
    			<div>
    				<input type="text" class="form-control" name="totp_token" placeholder="000111" />
    				<p><small class="text-muted"><em>If you have not enabled 2FA please leave this blank.</em></small></p>
    			</div>
    		</div>
    		<div class="form-group">
    			<div>
    				<label><input type="checkbox" name="remember_me" /> Remember Me</label>
    			</div>
    		</div>
    		<div class="form-group">
    			<div>
    				<input type="submit" class="btn btn-primary" value="Login" />
    				<button class="btn btn-default" onclick="window.location='password.php';return false;">{{ lang.string_reset_password }}</button>
    			</div>
    		</div>
    	</fieldset>
    </form>
</div>
<div class="col-3"></div>
{% endblock %}