{% extends "base.html" %}

{% block title %}Your Servers{% endblock %}

{% block navdropdown %}
<div class="navbar-collapse navbar-responsive-collapse collapse" style="height: 1px;">
	<ul class="nav navbar-nav navbar-right">
		<li class="dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ l.render('header.account') }}<b class="caret"></b></a>
				<ul class="dropdown-menu">
					<li><a href="{{ settings.master_url }}auth/logout">{{ l.render('header.logout') }}</a></li>
					{% if admin %}<li><a href="{{ settings.master_url }}admin/index">{{ l.render('header.admin') }}</a></li>{% endif %}
				</ul>
		</li>
	</ul>
</div>
{% endblock %}

{% block content %}
<div class="col-md-9">
	{% if flash.info is defined %}
		{{ flash.info.0|raw }}
	{% endif %}
	{% if servers[0]|length > 0 %}
		<table class="table table-striped table-bordered table-hover">
			<thead>
				<tr>
					<th>{{ l.render('string.name') }}</th>
					<th>{{ l.render('string.location') }}</th>
					<th>{{ l.render('string.node') }}</th>
					<th>{{ l.render('string.connect') }}</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				{% for server in servers %}
					<tr class="dynUpdate" id="{{ server.id }}">
						<td><a href="/index/{{ server.hash }}">{{ server.name }}</a></td>
						<td>{{ server.location }}</td>
						<td>{{ server.node_name }}</td>
						<td><code>{{ server.server_ip }}:{{ server.server_port }}</code></td>
						<td style="width:26px;"><i id="applyUpdate" class="fa fa-circle-o-notch fa-spinner fa-spin"></i></td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	{% else %}
		<div class="alert alert-info">
			You do not currently have any servers listed on your account.
		</div>
	{% endif %}
</div>
<script type="text/javascript">
$(window).load(function() {
	$("#sidebar_links").find("a[href='/index']").addClass('active');
});
</script>
{% endblock %}
