<div class="form-group col-md-6 nopad">
	<label for="server_ip" class="control-label">Server IP</label>
	<div>
		<select name="server_ip" id="server_ip" class="form-control">
		{% set no_free = true %}
		{% for ip, internal in node.ips %}
			{% if internal.ports_free > 0 %}
				{% set no_free = false %}
				<option value="{{ ip }} ">{{ ip }} ({{ internal.ports_free }} Avaliable Port(s))</option>
			{% else %}
				<option disabled="disabled">{{ ip }} (No Ports Avaliable)</option>
			{% endif %}
		{% endfor%}
		</select>
	</div>
</div>
<div class="form-group col-md-6 nopad-right">
	<label for="server_ip" class="control-label">Server Port</label>
	<div>
	{% for ip, internal in node.ports %}
		<span id="node_{{ ip }}" {% if not loop.first %}style="display:none;"{% endif %}>
			<select name="server_port_{{ ip }}" class="form-control">
			{% for port, avaliable in internal %}
				{% if avaliable == 1 %}
					<option value="{{ port }}">{{ port }}</option>
				{% else %}
					<option disabled="disabled">{{ port }} (in use)</option>
				{% endif %}
			{% endfor %}
			</select>
		</span>
	{% endfor %}
	</div>
</div>
{% if no_free %}
	<script type="text/javascript">$('#noPorts').show();</script>
{% endif %}