{% extends "admin_base.html" %}

{% block scripts %}
	{{ parent() }}
	<link rel="stylesheet" type="text/css" href="/assets/css/selectize.css" />
	<link rel="stylesheet" type="text/css" href="/assets/css/selectize.contacts.css" />
	<script src="//cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.1/js/standalone/selectize.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/Cookies.js/1.2.1/cookies.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/knockout/3.4.0/knockout-min.js"></script>
{% endblock %}

{% block title %}Add a New Server{% endblock %}

{% block content %}
<div class="col-md-9">
	<ul class="breadcrumb">
		<li><a href="/admin/index">Admin Control</a></li>
		<li><a href="/admin/server">Servers</a></li>
		<li class="active">Create New Server</li>
	</ul>
	{% if flash.info is defined %}
		{{ flash.info.0|raw }}
	{% endif %}
	<h3 class="nopad">Create New Server</h3><hr />
	<form action="new" method="POST">
		<input type="password" style="display: none">
		<fieldset>
			<div class="well">
				<div class="row">
					<div class="form-group col-md-6 nopad">
						<label for="server_name" class="control-label">Server Name</label>
						<div>
							<input type="text" autocomplete="off" id="server_name" name="server_name" class="form-control" />
							<p class="text-muted" style="margin: 0 0 -10.5px;"><small><em>Character Limits: <code>a-zA-Z0-9_-</code> and <code>[Space]</code> (Max 35 characters)</em></small></p>
						</div>
					</div>
					<div class="form-group col-md-6 nopad-right">
						<label for="email" class="control-label">Owner Email</label>
						<div>
							<select autocomplete="off" name="email" id="selectize_email" class="contacts"></select>
						</div>
					</div>
				</div>
			</div>
			<div class="well">
				<div class="row">
					<div class="col-md-12">
						<div class="alert alert-danger" id="noNodes" style="display:none;margin-bottom:10px;"><strong>Error:</strong> This location does not have any nodes assigned to it. Please select a different location.</div>
					</div>
				</div>
				<div class="row">
					<div class="form-group col-md-6 nopad">
						<label for="getLocation" class="control-label">Server Location</label>
						<div>
							<select name="location" id="getLocation" class="form-control">
								{% for location in locations %}
									<option value="{{ location.id }}">{{ location.long }}</option>
								{% endfor %}
							</select>
						</div>
					</div>
					<span id="updateNodeList">
						<div class="form-group col-md-6 nopad">
							<label for="getNode" class="control-label">Location Node</label>
							<div>
								<select name="node" id="getNode" class="form-control">
									<option value="---">Select a Location</option>
								</select>
							</div>
						</div>
					</span>
				</div>
			</div>
			<div class="well">
				<div class="row">
					<div class="form-group col-md-6 nopad">
						<label for="getPlugin" class="control-label">Server Plugin</label>
						<div>
							<select name="plugin" id="getPlugin" class="form-control" data-bind="foreach: pluginData.plugins">
							   <option data-bind="value: id, text: id"></option>
							</select>
						</div>
					</div>
				</div>
					<div data-bind="foreach: pluginData.activeDisplay()">
					<div class="row" >
						<div class="form-group col-md-8 nopad">
							<label class="control-label" data-bind="text: display, attr: {for: key }"></label>
							<div class="input-group">
								<input type="text" autocomplete="off" class="form-control" data-bind="value: value, attr: {name: key, id: key}"/>
								<p class="text-muted" style="margin: 0 0 -10.5px;"><small><em data-bind="text: desc"></em></small></p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="well">
				<input type="submit" value="Create Server" class="btn btn-primary btn-sm" />
			</div>
		</fieldset>
	</form>
</div>
{% endblock %}

{% block javascript %}
<script type="text/javascript">
        var pluginData = {
            plugins: ko.observableArray(),
            variables: ko.observableArray(),
            active: ko.observable()            
        };
        
        pluginData.activeDisplay = ko.pureComputed(function() {
                if (this.active() === undefined) {
                    return {};
                }
                variables = this.variables();
                for (var variable in variables) {
                    if (variables[variable].key === this.active()) {
                        return variables[variable].variables;
                    }
                }
                return {};
        }, pluginData);
        
	$("#sidebar_links").find("a[href='/admin/server/new']").addClass('active');
	function updateNodeList(){
		var activeLocation = $('#getLocation').val();
		$.ajax({
			type: "POST",
			url: "new/node-list",
			data: {'location' : activeLocation},
			success: function(data) {
				$('#updateNodeList').html(data);
                                updatePlugins();
				return false;
			}
		});
	}
	function updatePlugins() {
		$.ajax({
			type: "GET",
			url: "new/plugins",
			data: {
            	'node': $('#getNode').val()
			},
			datatype: 'json'
		}).done(function(data) {
                    pluginData.plugins.removeAll();
                    pluginData.variables.removeAll();
                    for (var key in data) {
                        if (data.hasOwnProperty(key)) {
                            pluginData.plugins.push({
                                id: key,
                                name: key
                            });
                            temp = data[key];
                            var vars = [];
                            for(var k in temp) {
                                 if (temp.hasOwnProperty(k)) {
                                     result = temp[k];
                                     result['key'] = k;
                                     vars.push(result);
                                 }
                            }
                            pluginData.variables.push({
                                key: key,
                                variables: vars
                            });                            
                        }
                    }
                    pluginData.active(pluginData.plugins()[0].id);
		});
	}
        
        ko.applyBindings(pluginData);
        
	$(window).load(function(){
		$('#selectize_email').selectize({
			persist: false,
			maxItems: 1,
			valueField: 'email',
			labelField: 'email',
			searchField: 'email',
			options: [],
			create: false,
			render: {
				item: function(item, escape) {
					return '<div>' +
						'<span class="name">' + escape(item.username) + '</span>' +
						'<span class="email">' + escape(item.email) + '</span>' +
					'</div>';
				},
				option: function(item, escape) {
					return '<div class="row"> \
								<div class="hidden-sm hidden-xs col-md-2"> \
									<img src="http://www.gravatar.com/avatar/' + escape(item.hash) + '?s=40"/> \
								</div> \
								<div class="hidden-md hidden-lg col-xs-1"> \
									<img src="http://www.gravatar.com/avatar/' + escape(item.hash) + '?s=32"/> \
								</div> \
								<div class="col-xs-11 col-md-10"> \
									<span>' + escape(item.username) + '</span> \
									<span class="caption">' + escape(item.email) + '</span> \
								</div> \
							</div>';
				}
			},
			load: function(query, callback) {
				if (!query.length) callback();
				$.ajax({
					url: '/admin/server/accounts/' + encodeURIComponent(query),
					type: 'GET',
					error: function() {
						callback();
					},
					success: function(res) {
						callback(res.accounts.slice(0, 10));
					}
				});
			}
		});
		$(document).on('change', '#getNode', function() {
			updatePlugins();
		});
		$(document).on('change', '#getPlugin', function() {
                        //update KO to new plugin selected
                        pluginData.active($("#getPlugin").val());
		});
		$(document).on('change', '#getLocation', function() {
			$("#noNodes").hide();
			updateNodeList();
		});
		updateNodeList();
		if(Cookies.get('__temporary_pp_admin_newserver')){
			var obj = $.parseJSON(atob(Cookies.get('__temporary_pp_admin_newserver')));
			$.each(obj, function(key, value) {
				$('[name="' + key + '"]').val(value);
			});
			Cookies.expire('__temporary_pp_admin_newserver', {'path': '/admin/server'});
			updateNodeList();
		}
	});        
</script>
{% endblock %}
