{% extends "admin_base.html" %}

{% block scripts %}
	{{ parent() }}
	<link rel="stylesheet" type="text/css" href="{{ settings.assets_url }}css/selectize.css" />
	<link rel="stylesheet" type="text/css" href="{{ settings.assets_url }}css/selectize.contacts.css" />
	<script src="//cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.1/js/standalone/selectize.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/Cookies.js/1.2.1/cookies.min.js"></script>
{% endblock %}

{% block title %}Add a New Server{% endblock %}

{% block content %}
<div class="col-md-9">
	<ul class="breadcrumb">
		<li><a href="/admin/index">Admin Control</a></li>
		<li><a href="/admin/server">Servers</a></li>
		<li class="active">Create New Server</li>
	</ul>
	{% if flash.info is defined %}
		{{ flash.info.0|raw }}
	{% endif %}
	<h3 class="nopad">Create New Server</h3><hr />
	<form action="new" method="POST">
		<input type="password" style="display: none">
		<fieldset>
			<div class="well">
				<div class="row">
					<div class="form-group col-md-6 nopad">
						<label for="server_name" class="control-label">Server Name</label>
						<div>
							<input type="text" autocomplete="off" name="server_name" class="form-control" />
							<p class="text-muted" style="margin: 0 0 -10.5px;"><small><em>Character Limits: a-zA-Z0-9_- (Max 35 characters)</em></small></p>
						</div>
					</div>
					<div class="form-group col-md-6 nopad-right">
						<label for="email" class="control-label">Owner Email</label>
						<div>
							<select autocomplete="off" name="email" id="selectize_email" class="contacts"></select>
						</div>
					</div>
				</div>
			</div>
			<div class="well">
				<div class="row">
					<div class="col-md-12">
						<div class="alert alert-danger" id="noNodes" style="display:none;margin-bottom:10px;"><strong>Error:</strong> This location does not have any nodes assigned to it. Please select a different location.</div>
					</div>
				</div>
				<div class="row">
					<div class="form-group col-md-6 nopad">
						<label for="location" class="control-label">Server Location</label>
						<div>
							<select name="location" id="getLocation" class="form-control">
								{% for location in locations %}
									<option value="{{ location.id }}">{{ location.long }}</option>
								{% endfor %}
							</select>
						</div>
					</div>
					<span id="updateNodeList">
						<div class="form-group col-md-6 nopad">
							<label for="server_name" class="control-label">Location Node</label>
							<div>
								<select name="node" id="getNode" class="form-control">
									<option value="---">Select a Location</option>
								</select>
							</div>
						</div>
					</span>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="alert alert-danger" id="noPorts" style="display:none;margin-bottom:10px;"><strong>Error:</strong> This IP does not have any free ports available. Please select another.</div>
					</div>
				</div>
				<div class="row">
					<span id="updateList">
						<div class="form-group col-md-6 nopad">
							<label for="server_ip" class="control-label">Server IP</label>
							<div>
								<select name="server_ip" class="form-control">
									<option value="---">Select a Node</option>
								</select>
							</div>
						</div>
						<div class="form-group col-md-6 nopad-right">
							<label for="server_port" class="control-label">Server Port</label>
							<div>
								<select name="server_port" class="form-control">
									<option value="---">Select an IP</option>
								</select>
							</div>
						</div>
					</span>
				</div>
				<!-- <div class="row" style="margin-bottom:-15px;">
					<div class="col-md-12">
						<div class="alert alert-info"><input type="checkbox" class="disabled" disabled name="assign_random"> Check this box to assign this server to a random public node in this location.</div>
					</div>
				</div> -->
			</div>
			<div class="well">
				<div class="row">
					<div class="form-group col-md-6 nopad">
						<label for="alloc_mem" class="control-label">Server Plugin</label>
						<div>
							<select name="plugin" id="getPlugin" class="form-control">
								{% for plugin in plugins %}
									<option value="{{ plugin.slug }}">{{ plugin.name }}</option>
								{% endfor %}
							</select>
						</div>
					</div>
					<div class="form-group col-md-6 nopad">
						<label for="alloc_mem" class="control-label">Install Package</label>
						<div>
							<select name="installable" class="form-control">
								<option value="none">None</option>
							</select>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="form-group col-md-4 nopad">
						<label for="alloc_mem" class="control-label">Allocate Memory (in MB)</label>
						<div class="input-group">
							<input type="text" autocomplete="off" name="alloc_mem" class="form-control" />
							<span class="input-group-addon">MB</span>
						</div>
					</div>
					<div class="form-group col-md-4">
						<label for="alloc_disk" class="control-label">Allocate Disk Space (in MB)</label>
						<div class="input-group">
							<input type="text" autocomplete="off" name="alloc_disk" class="form-control" />
							<span class="input-group-addon">MB</span>
						</div>
					</div>
					<div class="form-group col-md-4 nopad-right">
						<label for="cpu_limit" class="control-label">CPU Limit</label>
						<div class="input-group">
							<input type="text" autocomplete="off" name="cpu_limit" class="form-control" />
							<span class="input-group-addon">%</span>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<p><small>If you do not want to limit CPU usage set the value to 0. To determine a value, take the number <em>physical</em> cores and multiply it by 100. For example, on a quad core system <code>(4 * 100 = 400)</code> there is 400% available. To limit a server to using half of a single core, you would set the value to <code>50</code>. To allow a server to use up to two physical cores, set the value to <code>200</code>.</small></p>
					</div>
				</div>
			</div>
			<div class="well" style="margin-top:15px;">
				<form action="{{ server.id }}/startup" method="POST">
					<fieldset>
						<div class="form-group">
							<label for="alloc_mem" class="control-label">Startup Command</label>
							<div>
								<input type="text" autocomplete="off" name="daemon_startup" class="form-control" placeholder="e.g: -Xmx${memory}M -jar ${jar} nogui" />
								<p><small>Do not include the program invocation (i.e. <code>java</code>) in this line. These arguments are appended to the command line when starting the server. Variables that are provided will be replaced dynamically when starting the server. All other variables should be defined in the box below and use the format of <code>${VARIABLE}</code> above.</small></p>
								<p><small>The following is a list of permanetly defined variables that can be accessed: <code>${memory}</code>, <code>${ip}</code>, and <code>${port}</code>.</small></p>
							</div>
						</div>
						<div class="row" id="pluginVariableListing">

						</div>
						<div class="form-group">
							<label for="alloc_disk" class="control-label">Additional Startup Command Variables</label>
							<div>
								<textarea name="daemon_variables" rows="5" class="form-control" placeholder="e.g: variable|42"></textarea>
								<p><small>List one variable per line in the format of <code>variable_name|variable_value</code>. Please note that variable names and values are seperated with a pipe character (<code>|</code>).</small></p>
							</div>
						</div>
					</fieldset>
				</form>
			</div>
			<div class="well">
				<div class="row">
					<div class="col-md-12">
						<div class="alert alert-success" style="display: none;margin-bottom:10px;" id="gen_pass"></div>
					</div>
					<div class="form-group col-md-6 nopad">
						<label for="sftp_pass" class="control-label">SFTP Password</label>
						<div class="input-group">
							<input type="password" autocomplete="off" name="sftp_pass" class="form-control" />
							<span class="input-group-btn">
								<button class="btn btn-success btn-sm" id="gen_pass_bttn" type="button">Generate</button>
							</span>
						</div>
					</div>
					<div class="form-group col-md-6 nopad-right">
						<label for="sftp_pass_2" class="control-label">SFTP Password (Again)</label>
						<div>
							<input type="password" autocomplete="off" name="sftp_pass_2" class="form-control" />
						</div>
					</div>
				</div>
			</div>
			<div class="well">
				<input type="submit" value="Create Server" class="btn btn-primary btn-sm" />
			</div>
		</fieldset>
	</form>
</div>
{% endblock %}

{% block javascript %}
<script type="text/javascript">
	$("#sidebar_links").find("a[href='/admin/server/new']").addClass('active');
	function updatePortList(){
		$("#noPorts").hide();
		$("#server_ip").change(function() {
			var ip = $(this).val().replace(/\./g, "\\.");
			$("[id^=node_]").hide().prop("disabled", true);;
			$("#node_"+ip).show().prop("disabled", false);
		});
	}
	function updateList(){
		var activeNode = $('#getNode').val();
		$.ajax({
			type: "POST",
			url: "new/ip-list",
			data: {'node' : activeNode},
			success: function(data) {
				$('#updateList').html(data);
				updatePortList();
				return false;
			}
		});
	}
	function updateNodeList(){
		var activeLocation = $('#getLocation').val();
		$.ajax({
			type: "POST",
			url: "new/node-list",
			data: {'location' : activeLocation},
			success: function(data) {
				$('#updateNodeList').html(data);
				updateList();
				return false;
			}
		});
	}
	function updatePluginVariables() {
		$.ajax({
			type: "POST",
			url: "new/plugin-variables",
			data: {
				'slug' : $("#getPlugin").val()
			}
		}).done(function(data) {
			$("#pluginVariableListing").html(data);
		});
	}
	$(window).load(function(){
		$('#selectize_email').selectize({
			persist: false,
			maxItems: 1,
			valueField: 'email',
			labelField: 'email',
			searchField: 'email',
			options: [],
			create: false,
			render: {
				item: function(item, escape) {
					return '<div>' +
						'<span class="name">' + escape(item.username) + '</span>' +
						'<span class="email">' + escape(item.email) + '</span>' +
					'</div>';
				},
				option: function(item, escape) {
					return '<div class="row"> \
								<div class="hidden-sm hidden-xs col-md-2"> \
									<img src="http://www.gravatar.com/avatar/' + escape(item.hash) + '?s=40"/> \
								</div> \
								<div class="hidden-md hidden-lg col-xs-1"> \
									<img src="http://www.gravatar.com/avatar/' + escape(item.hash) + '?s=32"/> \
								</div> \
								<div class="col-xs-11 col-md-10"> \
									<span>' + escape(item.username) + '</span> \
									<span class="caption">' + escape(item.email) + '</span> \
								</div> \
							</div>';
				}
			},
			load: function(query, callback) {
				if (!query.length) callback();
				$.ajax({
					url: '/admin/server/accounts/' + encodeURIComponent(query),
					type: 'GET',
					error: function() {
						callback();
					},
					success: function(res) {
						callback(res.accounts.slice(0, 10));
					}
				});
			}
		});
		updateNodeList();
		updatePluginVariables();
		$("#gen_pass_bttn").click(function(){
			$.ajax({
				type: "GET",
				url: "/admin/passgen/12",
				success: function(data) {
					$("#gen_pass").html('<strong>Generated Password:</strong> '+data);
					$("#gen_pass").slideDown();
					$('input[name="sftp_pass"]').val(data);
					$('input[name="sftp_pass_2"]').val(data);
					return false;
				}
			});
			return false;
		});
		$(document).on('change', '#getNode', function() {
			updateList();
		});
		$(document).on('change', '#getPlugin', function() {
			updatePluginVariables();
		});
		$(document).on('change', '#getLocation', function() {
			$("#noNodes").hide();
			updateNodeList();
		});
		// $('[name="assign_random"]').click(function(){
		// 	if($(this).is(':checked')) {
		// 		$("#updateList, #updateNodeList").hide();
		// 	} else {
		// 		$("#updateList, #updateNodeList").show();
		// 	}
		// });
		if(Cookies.get('__temporary_pp_admin_newserver')){
			var obj = $.parseJSON(Cookies.expire('__temporary_pp_admin_newserver', {'path': '/admin/server'}).get('__temporary_pp_admin_newserver'));
			$.each(obj, function(key, value) {
				$('[name="' + key + '"]').val(value);
			});
			Cookies.expire('__temporary_pp_admin_newserver');
		}
	});
</script>
{% endblock %}