{% for name, data in variables %}
	{% if loop.index is not divisible by(2) %}
		<div class="row">
	{% endif %}
		<div class="form-group col-md-6">
			<label lass="control-label">{{ data.name }} <code>${% verbatim %}{{% endverbatim %}{{ name }}{% verbatim %}}{% endverbatim %}</code></label>
			<div>
				<input type="text" name="plugin_variable_{{ name }}" class="form-control" value="{{ data.default }}"/>
				<p><small>{{ data.description|raw }} {% if data.required == true %}<span style="color:#F04124;">(required field)</span>{% endif %}</small></p>
			</div>
		</div>
	{% if loop.index is divisible by(2) %}
		</div>
	{% endif %}
{% endfor %}