{% extends "admin_base.html" %}

{% block title %}Viewing Server{% endblock %}

{% block content %}
<div class="col-md-9">
	<ul class="breadcrumb">
		<li><a href="/admin/index">Admin Control</a></li>
		<li><a href="/admin/server">Servers</a></li>
		<li class="active">{{ server.name }}</li>
	</ul>
	{% if flash.info is defined %}
		{{ flash.info.0|raw }}
	{% endif %}
	<ul class="nav nav-tabs" id="config_tabs">
		<li class="active"><a href="#server_sett" data-toggle="tab">Settings</a></li>
		<li><a href="#sftp_sett" data-toggle="tab">SFTP</a></li>
		<li><a href="#delete" data-toggle="tab">Delete</a></li>
		<li><a href="/index/{{ server.hash }}">Server Control</a></li>
	</ul>
	<div class="alert alert-warning" id="reset_token_warn" style="display:none;margin-top: 15px;">The Scales Security Token for this server has been reset. The old token has been disabled and access is no longer permitted for it.</div>
	<div class="tab-content">
		<div class="tab-pane active" id="server_sett">
			<h3>Server Settings</h3><hr />
			<form action="{{ server.id }}/settings" method="post">
				<fieldset>
					<div class="form-group">
						<label class="control-label">Server Name</label>
						<div>
							<input type="text" name="server_name" value="{{ server.name }}" class="form-control" />
						</div>
					</div>
					<div class="form-group">
						<label class="control-label">Owner Email</label>
						<div>
							<input type="text" readonly="readonly" value="{{ user.username }} ({{ user.email }})" class="form-control" />
						</div>
					</div>
					<div class="form-group">
						<label class="control-label">Scales Security Token (<a href="#reset" id="reset_token">Reset Token</a>)</label>
						<div>
							<input type="text" readonly="readonly" id="form_gsd_token" value="{{ server.gsd_secret }}" class="form-control" />
						</div>
					</div>
					<div class="row">
						<div class="form-group col-md-4 nopad">
							<label for="alloc_mem" class="control-label">Allocate RAM</label>
							<div class="input-group">
								<input type="text" autocomplete="off" name="alloc_mem" value="{{ server.max_ram }}" class="form-control" />
								<span class="input-group-addon">MB</span>
							</div>
						</div>
						<div class="form-group col-md-4 nopad-right">
							<label for="alloc_disk" class="control-label">Disk Space</label>
							<div class="input-group">
								<input type="text" name="alloc_disk" disabled="disabled" value="{{ server.disk_space }}" class="form-control" />
								<span class="input-group-addon">MB</span>
							</div>
						</div>
						<div class="form-group col-md-4 nopad-right">
							<label for="cpu_limit" class="control-label">CPU Limit</label>
							<div class="input-group">
								<input type="text" name="cpu_limit" value="{{ server.cpu_limit }}" class="form-control" />
								<span class="input-group-addon">%</span>
							</div>
						</div>
						<div class="col-md-12">
							<p><small>If you do not want to limit CPU usage set the value to 0. To determine a value, take the number <em>physical</em> cores and multiply it by 100. For example, on a quad core system <code>(4 * 100 = 400)</code> there is 400% available. To limit a server to using half of a single core, you would set the value to <code>50</code>. To allow a server to use up to two physical cores, set the value to <code>200</code>.</small></p>
						</div>
					</div>
					<input type="submit" value="Update Server Settings" class="btn btn-primary btn-sm" />
				</fieldset>
			</form>
			<div class="well" style="margin-top:15px;">
				<h3 class="nopad">Connection Information</h3><hr />
				<form action="{{ server.id }}/connection" method="POST">
					<fieldset>
						<div class="panel panel-default">
							<div class="panel-heading">Changing IP &amp; Port</div>
							<div class="panel-body">
								<p>If you want to change the Server IP then select an IP from the list below that has at least one available port. When you select a new IP you will be prompted to select a new port from a list. If you only want to change the port, and not the IP, then you can do so by simply selecting an available port.</p>
								<p>Current Connection Address: <code>{{ server.server_ip }}:{{ server.server_port }}</code></p>
							</div>
						</div>
						<div class="row">
							<div class="form-group col-md-6">
								<label for="server_ip" class="control-label">Server IP</label>
								<div>
									<select name="server_ip" id="server_ip" class="form-control">
										{% for ip, internal in decoded.ips %}
											<option
												{% if internal.ports_free > 0 %}
													value="{{ ip }}"
													{% if server.server_ip == ip %}
														selected="selected"
													{% endif %}
												{% else %}
													disabled="disabled"
												{% endif %}
											>{{ ip }} ({{ internal.ports_free }} Avaliable Ports)</option>
										{% endfor %}
									</select>
								</div>
							</div>
							<div class="form-group col-md-6">
								<label for="server_ip" class="control-label">Server Port</label>
								<div>
									{% for ip, internal in decoded.ports %}
									<select name="server_port" class="form-control" {% if server.server_ip != ip %}style="display:none;" disabled{% endif %} id="node_{{ ip }}">
									{% for port, avaliable in internal %}
										<option
											{% if server.server_port == port %}selected="selected"{% endif %}
											{% if avaliable == 1 %}value="{{ port }}"{% else %}disabled="disabled"{% endif %}
										>{{ port }}</option>
									{% endfor %}
									</select>
									{% endfor %}
								</div>
							</div>
						</div>
						<input type="hidden" name="nid" value="{{ node.id }}" />
						<input type="submit" value="Update Connection Information" class="btn btn-primary btn-sm" />
					</fieldset>
				</form>
			</div>
		</div>
		<div class="tab-pane" id="sftp_sett">
			<h3>SFTP Settings</h3><hr />
			<form action="{{ server.id }}/sftp" method="post">
				<fieldset>
					<div class="form-group">
						<label for="ftp_host" class="control-label">Host</label>
						<div>
							<input type="text" readonly="readonly" value="{{ node.fqdn }} ({{ node.ip }})" class="form-control" />
						</div>
					</div>
					<div class="form-group">
						<label for="sftp_user" class="control-label">Username</label>
						<div>
							<input type="text" readonly="readonly" value="{{ server.sftp_user }}" class="form-control" />
						</div>
					</div>
					<div class="well">
						<div class="row">
							<div class="col-md-12">
								<div class="alert alert-success" style="display:none;margin-bottom:10px;" id="gen_pass"></div>
							</div>
							<div class="form-group col-md-6 nopad">
								<label for="ftp_pass" class="control-label">New Password</label>
								<div class="input-group">
									<input type="password" autocomplete="off" name="sftp_pass" class="form-control" />
									<span class="input-group-btn">
										<button class="btn btn-success btn-sm" id="gen_pass_bttn" type="button">Generate</button>
									</span>
								</div>
							</div>
							<div class="form-group col-md-6 nopad-right">
								<label for="ftp_pass_2" class="control-label">New Password (Again)</label>
								<div>
									<input type="password" autocomplete="off" name="sftp_pass_2" class="form-control" />
								</div>
								<div class="checkbox" style="margin-bottom:-20px;">
									<label>
										<input type="checkbox" name="email_user" /> Email new password to user.
									</label>
								</div>
							</div>
						</div>
					</div>
					<input type="submit" value="Update Password" class="btn btn-primary btn-sm" />
				</fieldset>
			</form>
		</div>
		<div class="tab-pane" id="delete">
			<h3>Delete Server</h3><hr />
				<div class="alert alert-danger"><strong><i class="fa fa-warning"></i></strong> Deleting a server is an irreversiable action. Proceede with caution. This server will be removed from the database along with all files on the server.</div>
				<form action="{{ server.id }}/delete" method="POST">
					<input type="submit" name="delete" class="btn btn-sm btn-danger disabled" value="Permanetly Delete this Server" />
				</form>
		</div>
	</div>
</div>
{% endblock %}

{% block javascript %}
<script type="text/javascript">
	$(document).ready(function(){
		$("#sidebar_links").find("a[href='/admin/server']").addClass('active');
		$("#reset_token").click(function(e){
			e.preventDefault();
			$.ajax({
				type: "POST",
				url: "/admin/server/view/{{ server.id }}/reset-token",
				success: function(data) {
					if(data.indexOf(' ') > 0) {
						alert(data);
					} else {
						$("#reset_token_warn").show();
						$("#form_gsd_token").val(data);
					}
				}
			});
		});
		$("#server_ip").change(function() {
			var ip = $(this).val().replace(/\./g, "\\.");
			$("[id^=node_]").hide().prop("disabled", true);;
			$("#node_"+ip).show().prop("disabled", false);
		});
		$("#gen_pass_bttn").click(function(){
			$.ajax({
				type: "GET",
				url: "/admin/passgen/12",
				success: function(data) {
					$("#gen_pass").html('<strong>Generated Password:</strong> '+data);
					$("#gen_pass").slideDown();
					$('input[name="sftp_pass"]').val(data);
					$('input[name="sftp_pass_2"]').val(data);
					return false;
				}
			});
			return false;
		});
	});
</script>
{% endblock %}
