pre {
    display: block;
    padding: 12px 12px;
    margin: 0;
    font-size: 12px;
    color: #c7254e;
    background-color: #f9f2f4;
    border: 1px solid #c7254e;
    border-radius: 0;
    white-space: pre
}

.console .v-input__slot {
  background-color: transparent !important;
}

.console .v-input__control {
  position: relative;
}

.console .v-input__control::before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: currentColor !important;
  content: '';
  border-radius: 4px;
}

.theme--dark .console .v-input__control::before {
  opacity: .24;
}

.theme--light .console .v-input__control::before {
  opacity: .12;
}

.theme-options {
  min-width: 200px;
}

.vts .v-snack__content {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.vts__message .flex-grow-1 span {
  align-self: center !important;
}

.vts__message div {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  flex-wrap: nowrap !important;
}

.vts__message {
  margin: 0 !important;
  -webkit-box-flex: 1 !important;
  -ms-flex-positive: 1 !important;
  flex-grow: 1 !important;
}
.mdi-chevron-right:before {
    transform: rotate(360deg);
    transition-duration: 0.3s;
}
.mdi-chevron-left:before {
    transition-duration: 0.3s;
}
