@import url(//fonts.googleapis.com/css?family=Droid+Sans+Mono);

pre {
    display: block;
    padding: 12px 12px;
    margin: 0;
    font-size: 12px;
    color: #c7254e;
    background-color: #f9f2f4;
    border: 1px solid #c7254e;
    border-radius: 0;
    white-space: pre
}

.console {
  background-color: var(--v-secondary-base)
}

.vts .v-snack__content {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.vts__message .flex-grow-1 span {
  align-self: center !important;
}

.vts__message div {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  flex-wrap: nowrap !important;
}

.vts__message {
  margin: 0 !important;
  -webkit-box-flex: 1 !important;
  -ms-flex-positive: 1 !important;
  flex-grow: 1 !important;
}
