[Unit]
Description=pufferpanel

[Service]
Type=notify
WorkingDirectory=/etc/pufferpanel
ExecStart=/usr/sbin/pufferpanel runService --config /etc/pufferpanel/config.json
User=pufferpanel
Group=pufferpanel
TimeoutStopSec=5m
OOMPolicy=continue
Environment="GIN_MODE=release"

[Install]
WantedBy=multi-user.target
